{% load wagtailcore_tags wagtailimages_tags %}

{# Individual event item in a list - used on event index and home page #}
<li>
  <article class="list-item event event-index block-link-parent">

    <header>
      <h3>{{ event.title }}</h3>
      {% if event.subtitle %}<h4 class="subtitle">{{ event.subtitle }}</h4>{% endif %}
    </header>  

    <div class="meta-container small-12 medium-12">
      {% if event.thumbnail %}
        <div class="meta">
          <div class="event-image"><a class="button" href="{{ event.url }}" target="_blank">
              {% image event.thumbnail fill-200x200 %}
          </a></div>
        </div>
      {% endif %} 

      <div class="end description">
        <div class="meta">
          <p><strong>Event Details</strong></p>
          <p>{{ event.date_from }}{% if event.date_to %} to {{ event.date_to }}{% endif %}</p>
          <p>{% if event.time_from %}From {{ event.time_from|time }}{% endif %}{% if event.time_to %} to {{ event.time_to|time }}{% endif %}</p>
          <p>{% if event.location %}{{ event.location }}{% endif %}</p>
          <p class="meta parent-event-info"><em>{% if event.parent_event %}Part of the <a href="{{ self.parent_event.url }}">{{ event.parent_event }}</a>{% endif %}</em></p>

          {% if event.button_link %}
          <div class="event-meta-item">
            <div class="webcast-intro__register">
              <a class="button" href="{{ event.button_link }}" target="_blank">{% if event.button_text %}{{ event.button_text }} {% else %}Learn More {% endif %}<i class="fa fa-external-link" aria-hidden="true"></i></a>
            </div>
          </div>
          {% else %}
            {% if event.registration_link %}
              <div class="event-meta-item">
                <div class="webcast-intro__register">
                  <a class="button" href="{{ event.registration_link }}" target="_blank">Register <i class="fa fa-external-link" aria-hidden="true"></i></a>
                </div>
              </div>
              {% else %}
              <div class="event-meta-item">
                <div class="webcast-intro__register">
                  <a class="button" href="{{ event.url }}" target="_blank">Learn More <i class="fa fa-external-link" aria-hidden="true"></i></a>
                </div>
              </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
      
    </div>

    
    <div class="clearfix"></div>

    {% if event in self.past_events %}
        {{event.description_past|richtext}}
        {% else %}
        {{event.description|richtext}}
      {% endif %}
  </article>
</li>
