{% extends "protocol_content_layout.html" %}

{% load wagtailcore_tags %}
{% load protocol_tags %}

{% block title_suffix %}
  | {{ self.protocol_parent }}
{% endblock %}


{% block main_panel %}

  <!-- Note: page intro will appear in the header section, in parent template standard_layout.html -->

  <div class="row panel-layout expanded">

    <div class="small-12 columns main-panel bottom">

      <div class="component-index">
      
        <p><i class="fa fa-arrow-down"></i> Click on each component to learn more about its purpose.</p>
        
        <hr>
        
        {% component_menu calling_page=self%}

      </div>

    </div>

 </div>

{% endblock %}
