{% extends "protocol_content_layout.html" %}

{% load wagtailcore_tags protocol_tags %}

{% block title_suffix %}
  | {{ self.protocol_parent }}
{% endblock %}


{% block protocol_page_header %}
  {% include "includes/protocol_menu_toggle.html" %}
  <h1 data-test-id="component-title-{{self.title}}">
    <i class="fa fa-fw {% component_icon self.type %}"></i>
    {{self.title}}
  </h1>
  {% include "includes/intro.html" with intro=self.intro only %}
{% endblock %}


{% block main_panel %}

  <div class="row panel-layout expanded">

    <div class="small-12 medium-4 medium-push-8 columns sidebar top">
      {% component_menu calling_page=self%}
    </div>

    <div class="small-12 medium-8 medium-pull-4 columns main-panel bottom">
      
      <div class="description">
        <div class="body-content">
        {{ self.description|richtext }}
        </div>
      </div>
    </div>

 </div>

{% endblock %}
