{% extends "standard_layout.html" %}

{% load wagtailcore_tags %}

{% block main_content %}
  <div class="row">
    <div class="small-12 columns">
      {% include "includes/intro.html" with intro=self.intro only %}

      <ol class="item-list">
      {% for component in self.components.all %}
          <li>{{component.component.type}} - {{component.title}}</li>
      {% endfor %}
      </ol>

      {% include "includes/related_links.html" with related_links=self.related_links.all only %}
    </div>
  </div>
{% endblock %}
