{% extends "protocol_content_layout.html" %}

{% load wagtailcore_tags protocol_tags %}


{% block protocol_page_header %}
  <h1>{{self.component_index.title}}</h1>
  {% include "includes/intro.html" with intro=self.component_index.intro only %}
{% endblock %}


{% block header_right %}
  <a href="#" class="button float-right">Download a Sample Project</a>
{% endblock %}


{% block main_panel %}
  
  <!-- Note: page intro will appear in the header section, in parent template standard_layout.html -->

  <div class="row panel-layout expanded">

    <div class="small-12 medium-7 columns main-panel">
      {% component_menu self.component_index calling_page=self%}
    </div>

   <div class="small-12 medium-5 columns sidebar">
      <h2>{{self.title}}</h2>
      {% include "includes/intro.html" with intro=self.intro only %}
      {{ self.description|richtext }}
   </div>

 </div>

{% endblock %}