{% extends "standard_layout.html" %}

{% load wagtailcore_tags protocol_tags navigation_tags %}

{% block title_suffix %}
    | An Introduction
{% endblock %}



{% block main_content %}

  <!-- Note: page intro will appear in the header section, in parent template standard_layout.html -->

<div class="row">
  <div class="small-12 columns">

    {% if self.body %}
      <div class="body-content">
        {{ self.body|richtext }}
      </div>
    {% endif %}

  </div>
</div>

  {% if self.children %}

    <section class="protocol-sections">
      <div class="grid block-section" id="protocol-intro-sections">
        <div class="row">
          <div class="small-12 medium-centered large-9 columns">
            <div class="row" data-equalizer data-equalize-on="medium">

              {% for child in self.children %}
                <div class="text-center small-12 medium-4 columns">
                  <section class="section-grid-item">
                    <header data-equalizer-watch>
                      <h3 class="section-title">{{ child.title }}</h3>
                      <div class="secondary-text">
                        {{child.intro|richtext}}
                      </div>
                    </header>
                    <a href="{% pageurl child %}" class="special button">View the {{ child.title }}</a>
                  </section>
                </div>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </section>

  {% endif %}

{% endblock %}
