{% extends "standard_sidebar_layout.html" %}
{% load wagtailcore_tags wagtailimages_tags people_tags %}

{% block sidebar %}
  <div data-sticky-container>
    <div class="sticky" data-sticky data-sticky-on="large" data-margin-top="3" data-top-anchor="on-this-page:top" data-btm-anchor="main-end:bottom">
      <nav class="sidebar-nav article-nav">
        <h3 id="on-this-page">On this page</h3>
        <ul class="vertical menu" data-magellan data-bar-offset="60">
          <li><a href="#network">TIER Network</a></li>
          <li><a href="#members">Members</a></li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}

{% block main_content %}

{% if self.body %}
<div id="network" data-magellan-target="network"></div>
<div class="row">
  <div class="body-content">
    {{ self.body|richtext }}
  </div>
</div>
{% endif %}

<div class="people network row">
  <hr>
  <h1 id="members" data-magellan-target="members">Members</h1>

  {% load wagtailcore_tags wagtailimages_tags %}
  <section class="block-section">

    <ul class="item-list person-list small-up-1 medium-up-2 large-up-3" data-equalizer>

      {% include "network/includes/person_list_compact.html" with list=self.people %}

    </ul>
  </section>
</div>

{% endblock %}
