{% extends "standard_sidebar_layout.html" %}
{% load wagtailcore_tags wagtailimages_tags people_tags %}
 {% block sidebar %}

  <div data-sticky-container>
    <div class="sticky" data-sticky data-sticky-on="large" data-margin-top="3" data-top-anchor="on-this-page:top" data-btm-anchor="main-end:bottom">
      <nav class="sidebar-nav section-nav">
        <h3 id="on-this-page">In this section</h3>
        <ul class="vertical menu" data-magellan data-bar-offset="100">

          {% for section in self.sections %}
            <li class="{% if section.category.is_active %}is-active{% endif %}">
              <a href="#{{section.category.slug}}">{{ section.category.title }}</a>
            </li>
          {% endfor %}

        </ul>
      </nav>
    </div>
  </div>

{% endblock %}

 {% block main_content %}

  {% if self.body %}
    <div class="body-content">
      {{ self.body|richtext }}
    </div>
  {% endif %}

   {% if self.sections %}
    <div class="people">

       {% for section in self.sections %}

       {% with anchor=section.category.slug %}
         <a id="{{anchor}}" data-magellan-target="{{anchor}}" name="{{anchor}}"></a>
       {% endwith %}

        {% if section.category.slug == "fellow" %}

          {% include "network/includes/fellows_list.html" %}

        {% else %}

          {% include "network/includes/person_list.html" with group=section.category.title list=section.people %}

        {% endif %}

      {% endfor %}

    </div>
  {% endif %}

 {% endblock %}
