{% load wagtailcore_tags wagtailimages_tags people_tags %}

<section class="block-section">
   <div class="row">

    <div class="section-intro small-12">
      <h2 class="section-title">{{group}}</h2>
    </div>


    <div class="course-materials-list row">
      <div class="body-content">
      <div class="materials people cards">

        {% for person in list %}

          <div class="card">
            <a href="/person/{{person.slug}}">
              {% if person.image %}
                {% image person.image fill-280x280-c100 as photo %}
                <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-thumbnail" />

              {% else %}
                <img class="placeholder img-thumbnail" />

              {% endif %}
            </a>

            <div class="card-divider">
                <h2>{{ person.first_name }} {{ person.last_name }}</h2>
            </div>
            <div class="card-section">
              <p><strong>{{ person.main_job_title }}</strong></p>
              {% if person.secondary_job_title %}<p><strong>{{ person.secondary_job_title }}</strong></p>{% endif %}
              <p><strong>{{ person.affiliation }}</strong><p>
            </div>
          </div>

        {% endfor %}

        {% if join_block == "true" %}
        <div class="join card">
          <a href="https://projecttier.forms-db.com/view.php?id=16971">
              <img class="logo img-thumbnail" src="/static/img/logo.svg"/>
          </a>
          <div class="card-divider">
              <h2>Join the TIER Network!</h2>
          </div>
          <div class="card-section">
            <p>Tell us about yourself and your work in this form, and connect with TIER protocol users across the country!<p>
          </div>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</section>
