{% load wagtailcore_tags wagtailimages_tags people_tags %}

<section class="block-section">
   <div class="row">

    <div class="section-intro small-12">
      <h2 class="section-title">{{group}}</h2>
    </div>


    <div class="course-materials-list row">
      <div class="body-content">
      <div class="materials cards">

        {% for person in list %}

          <div class="card">
            <a href="/person/{{person.slug}}">
              {% if person.image %}
                {% image person.image fill-280x280-c100 as photo %}
                <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-thumbnail" />

              {% else %}
                <img class="placeholder img-thumbnail" />

              {% endif %}
            </a>

            <div class="card-divider">
                <h2>{{ person.first_name }} {{ person.last_name }}{% if person.academic_title %},<span class="academic-title"> {{ person.academic_title }}</span>{% endif %}</h2>
            </div>
            <div class="card-section">
              <p><strong>{{ person.main_job_title }}</strong></p>
              <p>{{ person.affiliation }}<p>
            </div>
          </div>

        {% endfor %}

      </div>
    </div>
  </div>
</section>
