celery==3.1.23
dj-database-url==0.4.1
django-compressor==1.6
django-libsass==0.6
django-nose==1.4.3
django-storages==1.1.8
psycopg2==2.6.1
wagtail==1.5.2
wagtailcommonblocks==0.0.2
wagtailemoji==1.0.0
wagtailfontawesome==1.0.5
wagtailhavetheabilitytoactuallyseefieldsintheadmin==1.0.0
whitenoise==2.0.4
