wagtail==2.4
boto==2.49.0
celery==4.2.1
django_compressor==2.2
django-storages==1.7.1
django-libsass==0.7
django_redis==4.10.0
dj-database-url==0.5.0
wagtailfontawesome==1.1.3
wagtailemoji==1.0.2
wagtailatomicadmin==0.2.5
wagalytics==1.0rc1
psycopg2==2.7.7
whitenoise==4.1.2
git+https://github.com/ProjectTIER/wagtail-linkchecker.git@wagtail2-upgrade#egg=wagtail-linkchecker

# Heroku webserver
gunicorn==19.9.0

# Tests
django-nose==1.4.6
factory_boy==2.11.1
