/* Style the Draftail tip decorator on the admin screen.  */

.Draftail-inline--TIP {
  background-color: #007d7e;
  padding: 1px 7px 1px 5px;
  border-radius: 9999px;
  color: white;
  white-space: nowrap;
}

.Draftail-inline--TIP:hover {
  background-color: #00676a;
  color: white;
}

 /* info icon */
.Draftail-inline--TIP::before {
  content: '\1F6C8';
  margin-right: 3px;
  transform: translateY(-1px);
  display: inline-block;
}

/* HACK: Wagtail's default admin CSS doesn't hide hidden form fields */
.field.hidden_input {
  display: none;
}

/* Colors */
.Draftail-inline--TIP[data-color="red"] {
  background-color: #a32428;
}
.Draftail-inline--TIP[data-color="blue"] {
  background-color: #1d7ac9;
}
.Draftail-inline--TIP[data-color="green"] {
  background-color: #22851d;
}
.Draftail-inline--TIP[data-color="yellow"] {
  background-color: #a49924;
}
.Draftail-inline--TIP[data-color="orange"] {
  background-color: #a45d24;
}
.Draftail-inline--TIP[data-color="purple"] {
  background-color: #501d6e;
}
.Draftail-inline--TIP[data-color="grey"] {
  background-color: grey;
}
.Draftail-inline--TIP[data-color="black"] {
  background-color: black;
}
