{% load static %}

<footer id="main-footer">
  <div class="row" style="max-width: 1800px;">
    <div class="small-12 columns">

        <div id="twitter-newsletter" class="block-section">
          <div class="row" style="max-width: 1800px;">

          <div class="small-12 large-3 small-center columns mailchimp">
              {% include "includes/promo.html" %}
              <hr>
              <section class="sponsor-info">
                <div id="sponsor-logo">
                  <a href="/">
                    <span class="show-for-sr">Project TIER</span>
                    <span class="tier-logo" title="Project TIER">{% include "includes/svg_logo.html" %}</span>
                  </a>
                  <span class="joining-text">gratefully acknowledges the support it has received from:</span>
                  <div class="sponsor-logo-group">
                    <a href="http://www.sloan.org/" target="_blank">
                      <span class="show-for-sr">Alfred P. Sloan Foundation</span>
                      <span class="aps-logo" title="Alfred P. Sloan Foundation">{% include "includes/svg_aps_logo.html" %}</span>
                    </a>
                    <span class="joining-text joining-text__and">and</span>
                    <a href="https://www.haverford.edu/" target="_blank">
                      <span class="show-for-sr">Haverford College</span>
                      <span class="haverford-logo" title="Haverford College"><img src="../../static/img/haverford-logo-wide-2.svg" /></span>
                    </a>
                  </div>
                </div>
              </section>
              <hr>
          </div>

          <div class="small-12 large-4 small-center columns twitter">
            {% include "includes/twitter_section.html" %}
          </div>

          <div class="small-12 large-3 small-center columns twitter">
            <section class="block-section yoda" id="yoda">
              <div class="row">
                <div class="large-12 columns">
                  <div class="small-12 footer-title"><h2>Meet Yoda, the TIER Terrier:</h2></div>
                  <img class="yoda" src="{% static "img/yoda.jpg" %}"/>
                </div>
                <div class="large-1 columns"></div>
              </div>
            </section>
          </div>

          </div>
      </div>

      <nav id="footer-nav">
        <ul>

        </ul>
      </nav>
    </div>
  </div>
  <div id="subfooter">
    <div class="row">
      <div class="small-12 columns">
        <nav id="legal-nav">
          <ul>
            <li><a href="https://creativecommons.org/licenses/by-nc/4.0/"><img src="/static/img/creative-commons.png" alt="" /></a></li>
            <li><a href="/conditions-of-use">Conditions of use</a></li>
            <li>Email us at <a href="mailto:info@projecttier.org">info@projecttier.org</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
