<footer id="main-footer">
  <div class="row">
    <div class="small-12 columns">
      <a id="footer-logo" href="/">{% include "includes/svg_logo.html" %}</a>
      <nav id="footer-nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Email TIER@haverford.edu</a></li>
          <li><a href="#">Haverford College</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div id="subfooter">
    <div class="row">
      <div class="small-12 columns">
        <nav id="legal-nav">
          <ul>
            <li><a href="#">© 2016 Project TIER Haverford College</a></li>
            <li><a href="#">Legal</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>