<footer id="main-footer">
  <div class="row">
    <div class="small-12 columns">
    
        <div id="twitter-newsletter" class="block-section">
          <div class="row">
            
            <div class="small-12 large-6 small-center columns mailchimp">
              {% include "includes/twitter_section.html" %}
            </div>
          <div class="small-12 large-5 small-center columns twitter">
              {% include "includes/mailchimp_signup.html" %}
          </div>
        </div>
      </div>

        <p id="sponsor-logo">
          <a href="/">
            <span class="show-for-sr">Project TIER</span>
            <span class="tier-logo" title="Project TIER">{% include "includes/svg_logo.html" %}</span>
          </a>
          <span class="joining-text">is supported by the</span>
          <a href="http://www.sloan.org/" target="_blank">
            <span class="show-for-sr">Alfred P. Sloan Foundation</span>
            <span class="aps-logo" title="Alfred P. Sloan Foundation">{% include "includes/svg_aps_logo.html" %}</span>
          </a>
        </p>
      <nav id="footer-nav">
        <ul>
          
        </ul>
      </nav>
    </div>
  </div>
  <div id="subfooter">
    <div class="row">
      <div class="small-12 columns">
        <nav id="legal-nav">
          <ul>
            <li>© 2016 Project TIER</li>
            <li>Email us at <a href="mailto:info@projecttier.org">info@projecttier.org</a></li>
            <li>Haverford College, 370 Lancaster Avenue, Haverford, PA 19041</li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>