<!-- TODO delete this page? -->
<div class="full-width collapse row">
  
  <div class="large-8 columns">
    <section class="main-panel">
      <h1 class="large-heading">Large Heading</h1>
      <h2 class="medium-heading">Medium Heading</h2>
      <h3 class="small-heading">Small Heading</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nunc lectus, ullamcorper tristique magna eu, ornare accumsan nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere <a href="#">cubilia Curae</a>; Praesent eu justo non elit feugiat faucibus in ac sapien. Donec viverra dui tincidunt, mollis tortor a, maximus metus. Curabitur arcu nibh, maximus non libero ac, condimentum convallis sapien. Vivamus varius maximus urna, id suscipit neque pharetra eget. Sed sed nisi non nibh cursus faucibus in id ipsum.</p>
      <p class="secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nunc lectus, ullamcorper tristique magna eu, ornare accumsan nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent eu justo non elit feugiat faucibus in ac sapien. Donec viverra dui tincidunt, mollis tortor a, maximus metus. Curabitur arcu nibh, maximus non libero ac, condimentum convallis sapien. Vivamus varius maximus urna, id suscipit neque pharetra eget. Sed sed nisi non nibh cursus faucibus in id ipsum.</p>
      <p><code>Lorem ipsum dolor sit <strong>amet</strong></code></p>
      
      <a href="" class="button">Basic Button</a>
      <a href="" class="special button">Special Button</a>
      <nav class="button-group">
        <a class="button" href="">Button Group</a>
        <a class="button" href="">Button Group</a>
        <a class="button" href="">Button Group</a>
      </nav>
      <a href="" class="small button">Small Button</a>
      <form action="">
        <div class="row">
          <div class="medium-6 columns">
            <label>Input Label</label>
            <input type="text" placeholder="type here">
          </div>
          <div class="medium-6 columns">
            <label>Input Label</label>
            <input type="text" value="I typed this!">
          </div>
        </div>
      </form>
    </section>
  </div>
  <div class="large-4 columns">
    
    <section class="sidebar">
      
      <p>Sidebar</p>
      <a href="" class="button">A Button</a>
      <p><code>Lorem ipsum dolor sit <strong>amet</strong></code></p>
      <i class="fa fa-arrow-left"></i>
      <section class="callout">
        <p>Callout. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nunc lectus, ullamcorper tristique magna eu, ornare accumsan nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent eu justo non elit feugiat faucibus in ac sapien. Donec viverra dui tincidunt, mollis tortor a, maximus metus. Curabitur arcu nibh, maximus non libero ac, condimentum convallis sapien. Vivamus varius maximus urna, id suscipit neque pharetra eget. Sed sed nisi non nibh cursus faucibus in id ipsum.</p>
        <p><code>Lorem ipsum dolor sit <strong>amet</strong></code></p>
        <a href="" class="button">Button</a>
      </section>
      <section class="special callout">
        <p><code>Lorem ipsum dolor sit <strong>amet</strong></code></p>
        <a href="" class="button">Button</a>
      </section>
    </section>
  </div>
</div>