<script>
  window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));
</script>

<section id="twitter-section">
  <h2 class="section-title">
    <a href="https://twitter.com/Project_TIER" target="_blank">See Project TIER on Twitter</a>
  </h2>
  <a class="twitter-timeline" 
    href="https://twitter.com/Project_TIER"
    data-tweet-limit="2"
    data-widget-id="694893010832662528"
    data-chrome="noheader,nofooter,noborders,transparent,noscrollbar">Tweets by @Project_TIER</a>

  <a class="twitter-follow-button"
  data-widget-id="{widget_id}"
  href="https://twitter.com/Project_TIER"
  data-size="large"
  data-show-count="false">
  Follow @ProjectTIER
</a>
</section>
