{% extends "standard_sidebar_layout.html" %}
{% load navigation_tags wagtailcore_tags %}

{% block page_title %}
  <h1>{{self.title}}</h1>
{% endblock %}

{% block sidebar %}
  <div data-sticky-container>
    <div class="sticky" data-sticky data-sticky-on="large" data-margin-top="3" data-top-anchor="on-this-page:top" data-btm-anchor="main-end:bottom">
      <nav class="sidebar-nav article-nav">
        <h3>Filter Exercises</h3>
        <br>
        <h6>Discipline</h6>
        <div><input type="checkbox"> economics</div>
        <div><input type="checkbox"> psychology</div>
        <div><input type="checkbox"> statistics</div>
        <div><input type="checkbox"> sociology</div>
        <br>
        <h6>Course Level</h6>
        <div style="display:flex">
          <div><input type="checkbox"> 100</div>
          &nbsp;&nbsp;
          <div><input type="checkbox"> 200</div>
        </div>
        <div style="display:flex">
          <div><input type="checkbox"> 300</div>
          &nbsp;&nbsp;
          <div><input type="checkbox"> 400</div>
        </div>
        <br>
        <h6>Protocol</h6>
        <div><input type="checkbox"> standard</div>
        <div><input type="checkbox"> r markdown</div>
      </nav>
    </div>
  </div>
{% endblock %}

{% block main_content %}
  <div class="exercise-list row">
    <div class="body-content">
      <div class="exercises">
        {% for exercise in exercises %}
          <h2><a href="{{ exercise.url }}">{{ exercise.title }}</a></h2>
          <div class="tags">
            {% for tag in exercise.specific.tags.all %}
              <a class="tag" href="?tag={{ tag }}">{{ tag }}</a>
            {% endfor %}
          </div>
          <p class="excerpt">{{ exercise.specific.listing_excerpt }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
