{% extends "standard_layout.html" %}
{% load navigation_tags wagtailcore_tags projecttier_tags %}

{% block page_title %}
  <h1>{{self.title}}</h1>
{% endblock %}

{% block main_content %}
  <div class="row">
    <div class="exercise-detail body-content">

      <ul class="vertical tabs" data-tabs id="resources-tabs">
        <li class="tabs-title is-active"><a href="#cover" aria-selected="true">Cover Sheet</a></li>
        <li class="tabs-title"><a href="#notes">Instructor Notes</a></li>
        <li class="tabs-title"><a href="#exercise">The Exercise</a></li>
        <li class="tabs-title"><a href="#solution">Sample Solution</a></li>
      </ul>

      <div class="tabs-content" data-tabs-content="resources-tabs">
        <div class="tabs-panel is-active" id="cover">
          <a class="button" href="{{ page.cover_sheet.url }}"><i class="fa fa-download"></i> Download</a>
          <h2>Cover Sheet</h2>
          <object class="pdf" data="{{ page.cover_sheet|document_view_url }}" type="application/pdf"></object>
        </div>
        <div class="tabs-panel" id="notes">
          <a class="button" href="{{ page.instructor_notes.url }}"><i class="fa fa-download"></i> Download</a>
          <h2>Instructor Notes</h2>
          <object class="pdf" data="{{ page.instructor_notes|document_view_url }}" type="application/pdf"></object>
        </div>
        <div class="tabs-panel" id="exercise">
          <a class="button" href="{{ page.exercise.url }}"><i class="fa fa-download"></i> Download</a>
          <h2>The Exercise</h2>
          <object class="pdf" data="{{ page.exercise|document_view_url }}" type="application/pdf"></object>
        </div>
        <div class="tabs-panel" id="solution">
          <a class="button" href="{{ page.sample_solution.url }}"><i class="fa fa-download"></i> Download</a>
          <h2>Sample Solution</h2>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
