{% extends "standard_sidebar_layout.html" %}
{% load navigation_tags wagtailcore_tags static %}
{% block body_class %}wide-content{% endblock %}

{% block page_title %}
  <h1>{{self.title}}</h1>
{% endblock %}

{% block sidebar %}
  <div data-sticky-container>
    <div class="sticky" data-sticky data-sticky-on="large" data-margin-top="3" data-top-anchor="on-this-page:top" data-btm-anchor="main-end:bottom">
      <nav class="sidebar-nav article-nav exercise-filter">
        <h3>Filter Exercises</h3>

        {% if discipline_tags %}
          <div class="tag-group">
            <h6>Discipline</h6>
            {% for tag in discipline_tags %}
              <div class="tag">
                <label>
                  <input class="tag-checkbox" data-tag="disciplines" name="{{ tag }}" type="checkbox"{% if tag.name in discipline_tags_checked %} checked{% endif %}>
                  <span class="tag-name">{{ tag }}</span>
                </label>
              </div>
            {% endfor %}
          </div>
        {% endif %}

        {% if course_level_tags %}
          <div class="tag-group">
            <h6>Course Level</h6>
            {% for tag in course_level_tags %}
              <div class="tag">
                <label>
                  <input class="tag-checkbox" data-tag="course-levels" name="{{ tag }}" type="checkbox"{% if tag.name in course_level_tags_checked %} checked{% endif %}>
                  <span class="tag-name">{{ tag }}</span>
                </label>
              </div>
            {% endfor %}
          </div>
        {% endif %}

        {% if protocol_tags %}
          <div class="tag-group">
            <h6>Protocol</h6>
            {% for tag in protocol_tags %}
              <div class="tag">
                <label>
                  <input class="tag-checkbox" data-tag="protocols" name="{{ tag }}" type="checkbox"{% if tag.name in protocol_tags_checked %} checked{% endif %}>
                  <span class="tag-name">{{ tag }}</span>
                </label>
              </div>
            {% endfor %}
          </div>
        {% endif %}

        {% if results.filtered %}
          <a class="clear-button" href="{{ page.url }}">
            <i class="fa fa-times-circle"></i> Clear filters
          </a>
        {% endif %}
      </nav>
    </div>
  </div>
{% endblock %}

{% block main_content %}
  <div class="exercise-list row">
    <div class="body-content">
      {% if results.filtered %}
        <p class="filter-text">{{ results.hidden }} exercise{{ results.hidden|pluralize:" is,s are" }} hidden. <a href="{{ page.url }}">Clear filters <i class="fa fa-times"></i></a></p>
      {% else %}
        <p class="filter-text">{{ results.shown }} exercise{{ results.shown|pluralize}} found.</p>
      {% endif %}
      {% if self.notes %}
        <div class="notes">
          {{ self.notes|richtext }}
        </div>
      {% endif %}

      <div class="materials cards">
        {% for exercise in exercises %}
          {% with exercise as exercise.specific %}
            <a class="card" href="{{ exercise.url }}">
              <div class="card-divider">
                <h2>{{ exercise.title }}</h2>
              </div>
              <div class="card-section">
                <div class="tags">
                  {% for tag in exercise.specific.discipline_tags.all %}
                    <span class="tag" href="?disciplines={{ tag }}">{{ tag }}</span>
                  {% endfor %}
                  {% for tag in exercise.specific.course_level_tags.all %}
                    <span class="tag" href="?course-levels={{ tag }}">{{ tag }}</span>
                  {% endfor %}
                  {% for tag in exercise.specific.protocol_tags.all %}
                    <span class="tag" href="?protocols={{ tag }}">{{ tag }}</span>
                  {% endfor %}
                </div>
                <p class="excerpt">{{ exercise.specific.listing_excerpt|truncatechars_html:100 }}</p>
              </div>
            </a>
          {% endwith %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static "js/filters.js" %}"></script>
{% endblock %}
