{% extends "base.html" %}

{% load protocol_tags %}
{% load wagtailcore_tags %}

{% block content %}

<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
  
    <div class="off-canvas position-left reveal-for-large" id="offCanvasLeft" data-off-canvas>
      {% protocol_menu calling_page=self %}
    </div>
    
    <div class="off-canvas-content" data-off-canvas-content>
      <article class="protocol-layout">

        <header class="page-header">
          <div class="row expanded">
            <div class="small-12 columns">

              <div class="row">
                
                <div class="small-12 medium-8 large-9 columns">
                  {% block protocol_page_header %}
                    {% include "includes/protocol_menu_toggle.html" %}
                    <h1>{{self.title}}</h1>
                    {% include "includes/intro.html" with intro=self.intro only %}
                  {% endblock %}
                </div>

                <div class="small-12 medium-4 large-3 columns">
                  {% block header_right %} {% endblock %}
                </div>
              </div>

            </div>
          </div>
        </header>

        {% block main_panel %} {% endblock %}

      </article>
    </div>

  </div>
</div>
{% endblock content %}
