{% extends "base.html" %}
{% load navigation_tags %}

{% block content %}

<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
  
    <div class="off-canvas position-left reveal-for-large" id="offCanvasLeft" data-off-canvas>
      {% include "includes/protocol_nav.html" %}
    </div>
    
    <div class="off-canvas-content" data-off-canvas-content>
      <article class="protocol-layout">

        <header class="page-header">
          <div class="row expanded">
            <div class="small-12 columns">

              <div class="row">
                
                <div class="small-12 medium-8 large-9 columns">
                  {% block_title %}<h1>{{self.title}}</h1>{% endblock %}
                  {% include "includes/intro.html" with intro=self.intro only %}
                  
                  <!-- Delete this, it's temporarily representing self.intro block above -->
                  <div class="page-intro">
                    <p>Fusce pellentesque dictum porta. Proin eget eros in massa mattis faucibus. In semper nisl non orci tempor, ut hendrerit dui accumsan.</p>
                  </div>
                </div>

                <div class="small-12 medium-4 large-3 columns">
                  {% block header_right %} {% endblock %}
                </div>
              </div>

            </div>
          </div>
        </header>

        {% block main_panel %} {% endblock %}

      </article>
    </div>

  </div>
</div>

{% endblock %}