{% extends "base.html" %}

{% load navigation_tags wagtailcore_tags %}

{% block page_title %}
  {% with self|in_tree as in_tree %}

  <header class="page-header">
    <div class="row">
      {% if in_tree %}
        <div class="small-12 medium-10 large-8 columns">
      {% else %}
        <div class="small-12 medium-10 medium-centered large-8 large-centered columns">
      {% endif %}

        {% breadcrumbs %}

        <h1>{{self.title}}</h1>

      </div>
    </div>
  </header>

  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

      {# sidebar_menu calling_page=self #}

      <div class="off-canvas-content" data-off-canvas-content>
        <article class="protocol-layout">

  {% endwith %}
{% endblock %}

{% block content %}
  <div class="page-content">
    {% include "includes/intro.html" with intro=self.intro only %}
    {% block main_content %} {% endblock %}
  </div>

  </article>
    </div>

  </div>
</div>

{% endblock %}
