{# TODO Would this be more appropriate back in base.html? #}
{% extends "base.html" %}
{% load navigation_tags wagtailcore_tags %}

{% block page_banner %}
  <header class="page-header">
    <div class="row">
      <div class="columns">
        {% breadcrumbs %}
        {% block page_title %}
          <h1>{{self.title}}</h1>
        {% endblock %}
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <main class="row">
    <div class="sidebar large-3 columns show-for-large">
      {% block sidebar %}
        {% table_of_contents_menu streamfield=page.body %}
      {% endblock %}
    </div>
    <div class="large-9 columns">
      <article id="main-page-content" class="protocol-layout">
        <div class="page-content">
          {% block main_content %}{% endblock %}
        </div>
      </article>
    </div>
  </main>
  <div id="main-end"></div>
{% endblock %}
