{% extends "standard_layout.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block main_content %}
    {% include "includes/intro.html" with intro=self.intro only %}

    {# Uses method defined in models.py to retrieve all upcoming events #}
    {# See also standard index for creating a listing with a tag #}
    {% with self.events.all as events %}
        {% if events %}
            <div>
                {% for event in events %}
                    {% include "includes/event_list_item.html" %}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}
