{% extends "standard_layout.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block main_content %}
  {% include "includes/intro.html" with intro=self.intro only %}

  {# Uses method defined in models.py to retrieve all upcoming events #}
  {# See also standard index for creating a listing with a tag #}
  {% with self.events.all as events %}
    <div class="row">
      <div class="small-12 medium-10 medium-centered large-8 large-centered columns">

        {% if events %}
          <ol class="events-index item-list">
            {% for event in events %}
              {% include "includes/event_list_item.html" %}
            {% endfor %}
          </ol>
        {% else %}
          <p>There are currently no upcoming events.</p>
        {% endif %}

      </div>
    </div>
  {% endwith %}

  {% if self.related_links.all %}
  <hr/>
  <section class="related-links-list">
    <div class="row">
      <div class="small-12 medium-10 medium-centered large-8 large-centered columns">
        <ul>
          {% for related_link in self.related_links.all %}
            <li><a href="{{ related_link.link }}">{{ related_link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
  {% endif %}

{% endblock %}
