{% extends "base.html" %}
{% load wagtailcore_tags homepage_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}
{% block content %}
  <div id="home-page">

    <section id="intro-section">
      <div class="row">
        <div class="small-12 text-center medium-6 medium-text-left large-7 columns">
          <h1>
            <span id="intro-subtitle">{{self.headline}}</span>
          </h1>
        </div>
      </div>
    </section>

    {% if page.featured_index_page %}
      <section class="block-section featured-index-page">
        <div class="row">
          <h2 class="section-title">{{ page.featured_index_page.title }}</h2>
          <div class="section-intro">
            <div class="section-description">{{ page.featured_index_page.specific.listing_abstract }}</div>
        <div class="section-children">
          {% for childpage in page.featured_index_page.specific.children|slice:"4" %}
                <li><a href="{{childpage.url}}">{{childpage.title}}</a></li>
        {% endfor %}
        </div>
          </div>
        </div>
      </section>
    {% endif %}

    <section class="block-section subfeatured-content">
      <div class="row">
        {% if page.featured_index_page_2 %}
          <div class="subfeature-section-intro large-4 columns">
            <h2 class="subfeature-section-title">{{ page.featured_index_page_2.title }}</h2>
            <ul>
              {% for childpage in page.featured_index_page_2.specific.children|slice:"3" %}
                <li><a href="{{childpage.url}}">{{childpage.title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {% if page.featured_index_page_3 %}
          <div class="subfeature-section-intro large-4 columns">
            <h2 class="subfeature-section-title">{{ page.featured_index_page_3.title }}</h2>
            <ul>
              {% for childpage in page.featured_index_page_3.specific.children|slice:"3" %}
                <li><a href="{{childpage.url}}">{{childpage.title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {% if page.featured_events_page %}
          <div class="subfeature-section-intro large-4 columns">
            <h2 class="subfeature-section-title">Upcoming Events</h2>
            <ul>
              {% for childpage in page.featured_events_page.specific.events|slice:"3" %}
                <li><a href="{{childpage.url}}">{{childpage.title}}</a></li>
              {% endfor %}
            </ul>
            <p>See <a href="{{page.featured_events_page.url}}">More events</a></p>
          </div>
        {% endif %}
      </div>
    </section>

  </div>
{% endblock %}
