{% extends "base.html" %}
{% load wagtailcore_tags homepage_tags news_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block page_banner %}
  <header id="site-banner">
    <div id="banner-photo">
      {% image page.banner original %}
    </div>
    <div id="banner-text">
      <h1 id="site-title"><span class="line-1">Teaching&nbsp;Integrity&nbsp;in&nbsp;</span><span>Empirical&nbsp;Research</span></h1>
      <span id="intro-subtitle">Project <span class="tier">TIER</span></span>
    </div>
  </header>
{% endblock %}

{% block content %}
  <div id="home-page">
    {% for block in page.body %}
      {% include_block block with index=forloop.counter %}
    {% endfor %}
  </div>
{% endblock %}
