{% extends "base.html" %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}
{% block content %}
  <div id="home-page" class="body-content">
    


    <section id="intro-section">
      <div class="row">
        <div class="small-12 text-center medium-6 medium-text-left large-7 columns">
          <h1>
            <div id="logo">{% include "includes/svg_logo.html" %}</div>
            <span class="show-for-sr">Project TIER</span>
            <span id="intro-subtitle">Teaching Integrity in Empirical Research</span>
          </h1>
        </div>

        <div class="small-12 medium-6 large-5 columns">
          <div id="intro-text" class="text-center medium-text-left">
            <p>Project TIER’s mission is to promote a systemic change in the professional norms related to the transparency and reproducibility of empirical research in the social sciences...</p>
            <a href="/about" id="intro-button" class="button">
              <span id="intro-button-text">More About the Project</span>
            </a>
          </div>
        </div>
      </div>
    </section>


    
    <section class="block-section" id="news-section">
      <div class="row">
        <div class="section-intro small-12 text-center medium-4 medium-text-right large-5 columns">
          <h2 class="section-title" id="news-section-title">
            <i class="fa fa-newspaper-o fa-fw"></i>
            Latest News
          </h2>
        </div>

        <div class="small-12 text-center medium-8 medium-text-left large-7 columns">
          <ol class="news-list item-list">
            <li>
              <article class="news-list-item list-item">
                <h1>TIER Protocol 3.0 Beta Released</h1>
                <div class="article-meta">
                  <span class="article-meta-item">
                    <time class="article-publish-date">January 6, 2016</time>
                  </span>
                  <span class="article-meta-item">
                    <a href="#" class="read-more">Read More</a>
                  </span>
                </div>
              </article>
            </li>
          </ol>
        </div>
      </div>
    </section>



    <section class="block-section" id="protocols-section">
      <div class="row">
        <div class="section-intro small-12 text-center medium-6 medium-text-right large-5 columns">
          <h2 class="section-title">
            <i class="fa fa-clipboard fa-fw"></i>
            Protocols &amp; Resources
          </h2>

          <div class="section-description">
            <p>Project TIER has developed several tools to support our mission. These these protocols and resources provide instructions for assembling a set of electronic files that document all the steps of data processing and analysis you conduct for an empirical research paper.</p>
          </div>

          <a href="#" class="section-button small button">More About the Protocols</a>
        </div>

        <div class="text-center small-12 medium-6 medium-text-left columns">
          <ul class="protocols-list item-list">
            <li>
              <article class="protocol-item list-item">
                <h1>
                  TIER Protocol
                  <span class="subtitle">For undergraduate research</span>
                </h1>
                <a href="/protocols" class="small special button">Learn About TIER</a>
              </article>
            </li>
            <li>
              <article class="protocol-item list-item">
                <h1>
                  Dress Protocol
                  <span class="subtitle">For graduate research</span>
                </h1>
                <a href="#" class="small special button">Learn About DRESS</a>
              </article>
            </li>
            <li>
              <article class="protocol-item list-item">
                <h1>
                  Markdown
                  <span class="subtitle">Documentation tool</span>
                </h1>
                <a href="#" class="small special button">Learn About Markdown</a>
              </article>
            </li>
          </ul>
        </div>
      </div>
    </section>



    <section class="block-section" id="programs-section">
      <div class="row">
        <div class="section-intro small-12 text-center medium-4 medium-text-right large-5 columns">
          <h2 class="section-title">
            <i class="fa fa-group fa-fw"></i>
            Programs &amp; Workshops
          </h2>
          <div class="section-description">
            <p>Are available to help you support Project TIER's mission</p>
          </div>
          <a href="/programs" class="section-button small button">More About Our Programs</a>
        </div>

        <div class="small-12 text-center medium-8 medium-text-left large-7 columns">
          <ul class="section-link-list">
            <li><a href="#" class="section-link">Fellowships</a></li>
            <li><a href="#" class="section-link">Faculty Development Workshops</a></li>
            <li><a href="#" class="section-link">Graduate Program Workshops</a></li>
            <li><a href="#" class="section-link">Other Programs</a></li>
          </ul>
        </div>
      </div>
    </section>



    <section class="block-section" id="events-section">
      <div class="row">
        <div class="section-intro small-12 text-center medium-4 medium-text-right large-5 columns">
          <h2 class="section-title">
            <i class="fa fa-calendar fa-fw"></i>
            Upcoming Events
          </h2>
          <div class="section-description">
            <p>Get involved and take part in supporting Project TIER.</p>
          </div>
          <a href="/events" class="section-button small button">More Events</a>
        </div>
        <div class="small-12 text-center medium-8 medium-text-left large-7 columns">
          <ol class="events-list item-list">
            <li>
              <article class="event-list-item list-item">
                <h1>
                  American Economic Association
                  <span class="subtitle">Annual Meeting</span>
                </h1>
                <div class="article-meta">
                  <span class="article-meta-item">San Francisco, CA</span>
                  <span class="article-meta-item">
                    <time class="event-time">January 3-5, 2016</time>
                  </span>
                  <span class="article-meta-item">
                    <a href="#" class="read-more">Read More</a>
                  </span>
                </div>
              </article>
            </li>
            <li>
              <article class="event-list-item list-item">
                <h1>
                  Institute for New Economic Thinking/Young Scholars Initiative
                  <span class="subtitle">Workshop on Replication and Transparency in Economic Research</span>
                </h1>
                <div class="article-meta">
                  <span class="article-meta-item">San Francisco, CA</span>
                  <span class="article-meta-item">
                    <time class="event-time">January 6-7, 2016</time>
                  </span>
                  <span class="article-meta-item">
                    <a href="#" class="read-more">Read More</a>
                  </span>
                </div>
              </article>
            </li>
            <li>
              <article class="event-list-item list-item">
                <h1>
                  TIER Faculty Development Workshop
                </h1>
                <div class="article-meta">
                  <span class="article-meta-item">Haverford College</span>
                  <span class="article-meta-item">
                    <time class="event-time">March 2016</time>
                  </span>
                  <span class="article-meta-item">
                    <a href="#" class="read-more">Read More</a>
                  </span>
                </div>
              </article>
            </li>
          </ol>
        </div>
      </div>
    </section>



    <section class="block-section" id="classroom-section">
      <div class="row">
        <div class="section-intro small-12 text-center medium-4 medium-text-right large-5 columns">
          <h2 class="section-title">
            <i class="fa fa-graduation-cap fa-fw"></i>
            TIER in the Classroom
          </h2>
          <div class="section-description">
            <p>How is Project TIER influencing real students and teachers?</p>
          </div>
          <a href="#" class="section-button small button">Learn More</a>
        </div>

        <div class="small-12 text-center medium-8 medium-text-left large-7 columns">
          <ul class="section-link-list">
            <li><a href="#" class="section-link">Syllabi from TIER Courses</a></li>
            <li><a href="#" class="section-link">Student Work &amp; Testimonials</a></li>
            <li><a href="#" class="section-link">Instructor Resources</a></li>
          </ul>
        </div>
      </div>
    </section>


    <div id="twitter-newsletter" class="block-section">
      <div class="row">
        <div class="small-12 text-center medium-6 medium-text-right columns">
          <section id="twitter-section">
            <h2 class="section-title">
              <i class="fa fa-twitter fa-fw"></i>
              Project TIER on Twitter
            </h2>
            <a class="twitter-timeline"
              data-widget-id="{widget_id}"
              href="https://twitter.com/Project_TIER"
              data-screen-name="Project_TIER">
            Tweets by @Project_TIER
            </a>
          </section>
        </div>
        
        <div class="small-12 text-center medium-6 medium-text-left columns">
          <section id="newsletter-section">
            <h2 class="section-title">
              <i class="fa fa-envelope fa-fw"></i>
              Signup for our Newsletter
            </h2>
            <div class="section-description">
              <p>Get monthly updates on changes to the Protocols, upcoming events, and new programs.</p>
            </div>
            <form action="">
              <div class="input-group">
                <input class="input-group-field" placeholder="Enter your email address" type="email">
                <div class="input-group-button">
                  <input type="submit" class="special button" value="Signup">
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>


  </div>
{% endblock %}