{% extends "standard_layout.html" %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags %}

{% block main_content %}
  
  {% if self.body %}
    {% with self|in_tree as in_tree %}
      <div class="row">
        {% if in_tree %}
          <div class="small-12 medium-11 large-9 columns">
        {% else %}
          <div class="small-12 medium-10 medium-centered large-8 large-centered columns">
        {% endif %}

          <div class="body-content">
            {{ self.body|richtext }}
          </div>

        </div>
      </div>
      
    {% endwith %}
  {% endif %}

  {% standard_index_listing calling_page=self %}
{% endblock main_content %}
