{% extends "protocol_layout.html" %}

{% load wagtailcore_tags %}

{% block header_right %}
  <a href="#" class="button float-right">Download a Sample Project</a>
{% endblock %}

{% block main_panel %}
  
  <!-- Note: page intro will appear in the header section, in parent template standard_layout.html -->

  <div class="row expanded">

   <div class="small-12 medium-7 columns main-panel">
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent blandit lectus at enim vulputate, at viverra dui commodo. Pellentesque ornare arcu a diam consectetur ornare. Fusce pellentesque dictum porta. Proin eget eros in massa mattis faucibus. In semper nisl non orci tempor, ut hendrerit dui accumsan. Curabitur lectus augue, interdum aliquet leo vel, tempus mattis magna. Ut sed tempor elit. Curabitur risus justo, fringilla sit amet mauris eu, varius volutpat nisi. Curabitur eu convallis augue. Phasellus velit est, cursus ac purus eget, commodo viverra lorem. In blandit lacus consectetur, semper metus volutpat, euismod neque.</p>
   </div>
   <div class="small-12 medium-5 columns sidebar">
     <p>Nulla tincidunt tincidunt odio, ac luctus velit rhoncus sit amet. Suspendisse sit amet placerat felis, at mollis ex. Donec iaculis ac nulla id feugiat. Vestibulum convallis arcu vitae pretium maximus. Mauris eget congue quam. Nunc ac luctus magna. Curabitur ullamcorper purus quis tempus iaculis. Nam ipsum sem, auctor quis condimentum ut, posuere ac augue. Sed venenatis gravida purus, ut viverra est porttitor consectetur.</p>
   </div>

 </div>

{% endblock %}
