{% extends "standard_layout.html" %}

{% load wagtailcore_tags navigation_tags %}

{% block main_content %}
  {% with self|in_tree as in_tree %}
  <div class="row">
    {% if in_tree %}
      <div class="small-12 medium-11 large-9 columns">
    {% else %}
      <div class="small-12 medium-10 medium-centered large-8 large-centered columns">
    {% endif %}

      {% if self.body %}
          <div class="body-content">
              {{ self.body|richtext }}
          </div>
      {% endif %}

      {% include "includes/related_links.html" with related_links=self.related_links.all only %}
    </div>
  </div>
  {% endwith %}
{% endblock %}
