{% extends "standard_layout.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block sidebar %}
{% endblock %}

{% block main_content %}

  {% if self.body %}
  <div class="row">
    <div class="small-12 medium-10 medium-centered large-8 large-centered columns">
      <div class="body-content">
        {{ self.body|richtext }}
      </div>
    </div>
  </div>
  {% endif %}

  {# Uses method defined in models.py to retrieve all upcoming events #}
  {# See also standard index for creating a listing with a tag #}

  {% if self.events %}
    {% with self.events.all as events %}
      <div class="row">
        <div class="small-12 medium-10 medium-centered large-8 large-centered columns">
          {% if events %}
            <ol class="events-index item-list">
              {% for event in events %}
                {% include "includes/event_list_item.html" with event=event %}
              {% endfor %}
            </ol>
          {% else %}
            <p>There are currently no upcoming events added. This is, most likely, an error. You can get in touch with <a href="mailto:info@projecttier.org">info@projecttier.org</a> for more information.</p>
          {% endif %}
        </div>
      </div>
    {% endwith %}

{% if self.past_events %}
    {% with self.past_events as events %}
      <div class="row">
        <div class="small-12 medium-10 medium-centered large-8 large-centered columns">
          {% if events %}
          <h4>Past events</h4>
          <ol class="events-index item-list">
          {% for event in events %}
            {% include "includes/event_list_item.html" with event=event %}
          {% endfor %}
          </ol>
          {% else %}
            <p>There's been no previous events.</p>
        </div>
        {% endif %}
      </div>
    {% endwith %}
  {% else %}

    {% regroup self.events.all by date_from|date:"Y" as events_by_year %}

    <div class="row">
      <div class="small-12 medium-10 medium-centered large-8 large-centered columns">
        <ol class="events-index item-list">
          {% for group in events_by_year %}
            <h4>{{group.grouper}}</h4>

            {% for event in group.list %}
              {% include "includes/event_list_item.html" with event=event %}
            {% endfor %}
          {% endfor %}
        </ol>
      </div>
    </div>

  {% endif %}
{% endif %} 
{% endblock %}
