{% extends "standard_sidebar_layout.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block sidebar %}
  <div class="event-sidebar-metadata">{% include "./event_metadata.html" %}</div>
{% endblock %}

{% block main_content %}
<div class="row">
  <div class="body-content small-12 medium-8 columns event-page">
    <div class="event-main-metadata">{% include "./event_metadata.html" %}</div>
    {% if self.description %}
      <h4>Event Description</h4>
      {{ self.description|richtext }}
    {% endif %}
  </div>
</div>
{% endblock %}
