{% load wagtailcore_tags wagtailimages_tags %}
<div class="event-page-metadata">

  <div class="event-image">
    {% if self.thumbnail %}
      {% image self.thumbnail max-1000x800 %}
    {% else %}
      <img class="logo img-thumbnail" src="/static/img/logo.svg"/>
    {% endif %}
  </div>

  <h4 class="event-meta-label">Date</h4>
  <time class="event-meta-item">
    <p>{{ self.date_from }}{% if self.date_to %} to {{ self.date_to }}{% endif %}</p>
    {% if self.time_from %}<p>From {{ self.time_from|time }}{% endif %}{% if self.time_to %} to {{ self.time_to|time }}</p>{% endif %}
  </time>

  {% if self.location %}
    <h4 class="event-meta-label">Location</h4>
    <div class="event-meta-item">
      {{ self.location }}
    </div>
  {% endif %}

  {% if self.parent_event %}
    <div class="event-meta-item">
      <h4 class="event-meta-label">Details</h4>
      Part of the <a href="{{ self.parent_event.url }}">{{ self.parent_event }}</a>
    </div>
  {% endif %}

  {% if self.button_link %}
    <div class="event-meta-item">
      <div class="webcast-intro__register">
        <a class="button" href="{{ self.button_link }}" target="_blank">{% if self.button_text %}{{ self.button_text }} {% else %}Learn More {% endif %}<i class="fa fa-external-link" aria-hidden="true"></i></a>
      </div>
    </div>
  {% endif %}

  {% if self.registration_link %}
    <div class="event-meta-item">
      <div class="webcast-intro__register">
        <a class="button" href="{{ self.registration_link }}" target="_blank">Register <i class="fa fa-external-link" aria-hidden="true"></i></a>
      </div>
    </div>
  {% endif %}
 

</div>
