{% extends "standard_sidebar_layout.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block sidebar %}
  <div>
    <div>
      <nav class="sidebar-nav article-nav">
        <h3 id="on-this-page">Agenda</h3>
        <ul class="vertical menu">
          {% for event in events %}
            <li><a href="{{event.url}}">{{event.date|date:"n/j/y"}}: {{event.speaker_name}}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}

{% block main_content %}
  {% if self.intro %}
    <div class="row">
      <div class="body-content">
        {{ self.intro|richtext }}
      </div>
    </div>
  {% endif %}

  <p style="text-align: right;">
    <a class="big-cta" href="{{ self.registration_link }}" target="_blank">Register Now <i class="fa fa-external-link" aria-hidden="true"></i></a>
  </p>

  <div class="people cards events materials">
    {% if events %}
      {% for event in events %}
        <a class="card" href="{{event.url}}">

          {% if event.image %}
            {% image event.image fill-280x280-c100 as photo %}
            <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="webcast img-thumbnail" />
          {% else %}
            <img class="webcast placeholder img-thumbnail" src="/static/img/placeholder-person.png" width="800px" height="800px" alt="placeholder image"/>
          {% endif %}

          <div class="card-divider">
            <h2>{{ event.speaker_name }}</h2>
          </div>
          <div class="card-section">
            <p><strong>{{event.date|date:"M jS, Y"}}</strong></p>
            <p><strong>{{ event.title }}</strong></p>
          </div>
        </a>
      {% endfor %}
    {% endif %}
  </div>

{% endblock %}
