{% extends "standard_sidebar_layout.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block sidebar %}
  <div data-sticky-container>
    <div data-margin-top="3" data-top-anchor="on-this-page:top" data-btm-anchor="main-end:bottom">
      <nav class="sidebar-nav article-nav">
        <h3 id="on-this-page">Agenda</h3>
        <ul class="vertical menu" data-magellan data-bar-offset="60">
          {% for event in events %}
            <li><a href="{{event.url}}">{{event.title}}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}

{% block main_content %}
  {% if self.intro %}
    <div class="row">
      <div class="body-content">
        {{ self.intro|richtext }}
      </div>
    </div>
  {% endif %}

  <div class="people cards events materials">
    {% if events %}
      {% for event in events %}
        <a class="card" href="{{event.url}}">
          {% image event.image fill-280x280-c100 as photo %}
          <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-thumbnail" />
          <div class="card-divider">
            <h2>{{ event.title }}</h2>
          </div>
          <div class="card-section">
            <p><strong>{{ event.speaker_name }}</strong></p>
          </div>
        </a>
      {% endfor %}
    {% endif %}
  </div>

{% endblock %}
