{% extends "standard_sidebar_layout.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block sidebar %}
  <div data-sticky-container>
    <div class="sticky" data-sticky data-sticky-on="large" data-margin-top="3" data-top-anchor="on-this-page:top" data-btm-anchor="main-end:bottom">
      <nav class="sidebar-nav article-nav">
        <h3 id="on-this-page">On this page</h3>
        <ul class="vertical menu" data-magellan data-bar-offset="60">
          <li><a href="#abstract">Abstract</a></li>
          <li><a href="#speaker_bio">Speaker Bio</a></li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}

{% block main_content %}
<div class="row">
  <div class="row">

    <div class="webcast-intro">
      <div class="webcast-intro__photo">
        {% if self.image %}
          {% image self.image fill-280x280-c100 as photo %}
          <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-thumbnail" />
          {% if self.image_credit %}
            Photo courtesy of: {{ self.image_credit }}
          {% endif %}
        {% else %}
          <img class="placeholder img-thumbnail" />
        {% endif %}
      </div>
      <div class="webcast-intro__meta">
        <div class="webcast-intro__date">{{ self.date|date:"M jS, Y" }}: {{ self.speaker_name }}</div>
        <div class="webcast-intro__title">{{ self.title }}</div>
        <div class="webcast-intro__register">
          <a class="button" href="{{self.get_parent.specific.registration_link}}" target="_blank">Register Now <i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

    <h2 id="abstract">Abstract</h2>
    {% if self.abstract %}
      {{ self.abstract|richtext }}
    {% endif %}
    <h2 id="speaker_bio">Speaker Bio</h2>
    {% if self.speaker_bio %}
      {{ self.speaker_bio|richtext }}
    {% endif %}
</div>

{% endblock %}
