// Note this was previously names _protocols


ul.accordion {
  background-color: $pale-grey;
  color: darken( $blue, 20% );

    li {

        &.accordion-item {
            padding-left: 0;
        }

      a {
        color: darken( $blue, 20% );
        font-size: rem-calc(18);
        text-decoration: none;
        transition: color 0.2s, background-color 0.2s;

        &:before {
            color: darken( $blue, 20% );
        }

        &:hover, &:focus {
            color: darken( $blue, 20% );
            background-color: $white;
        }

      }

      &::before {
        display: none;
      }

    }

  }

.accordion-title {
    padding: 1.25rem 3rem 1.25rem 1rem;

     &:before {
       font-size: rem-calc(32);
       margin-top: -1.1rem;
     }

}

.callout {
  background-color: #F9F1F1;
  border-radius: 2px;
  border: 0;
  margin-left: -80px;
  padding: 0.5rem 0.5rem 0.5rem 5rem;
  &::before {
    content: "\f05a";
    color: $grey;
    font-family: FontAwesome;
    font-size: 2.8rem;
    display: inline;
    float: left;
    margin-left: -56px;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
  }
  @include breakpoint(small) {
    margin-left: 0;
  }
  &.success {
      &::before {
        content: "\f058";
        color: $dark-teal;
      }
    }
    &.warning {
      &::before {
        content: "\f059";
        color: #ff6c54;
      }
    }
    &.alert {
      &::before {
        content: "\f071";
        color: $red;
    }
  }
}


.download {
    padding: 20px;
    border-radius: 4px;
    border: 1px solid $light-grey;
    margin-bottom: 10px;
    transition: background-color 0.3s;
    &::before {
      content: "\f019";
      color: $light-grey;
      font-family: FontAwesome;
      float: left;
      font-size: 4rem;
      margin-top: -10px;
    }
    &:hover {
      background-color: $off-white;
      &:before {
        color: white;
      }
    }

    > * {
      margin-left: 80px;
    }
    h5 {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.9rem;
      &::after {
        content: "";
        width: 20px;
        height: 1px;
        background-color: $light-grey;
        left: 40px;
        display: block;
        margin: 10px 0;
      }
    }
    p {
      margin-bottom: 0;
    }
    + .download {
      margin-top: 10px;
    }
}

.periodic_boxes {
  display: flex;
  max-width: 800px;
  flex-wrap: wrap;
  a {
    color: black;
    text-decoration: none;
  }
  .periodic_box {
    border: 2px solid black;
    padding: 5px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 20px;
    &__content {
      margin: 0 auto;
      padding: 0 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__icon {
      i.fa {
        font-size: 64px;
        margin: 5px;
        margin-bottom: 10px;
      }
    }
  }
}

@media(max-width: 400px) {
  .periodic_boxes {
    .periodic_box {
      padding: 5px;
      width: 100px;
      height: 100px;
      margin: 10px;
      &__content {
        margin: 0 auto;
        padding: 0 2px;
        display: flex;
        font-size: 16px;
      }
      &__icon {
        i.fa {
          font-size: 36px;
          margin: 3px;
          margin-bottom: 10px;
        }
      }
      &__number {
        font-size: 12px;
      }
    }
  }
}

.highlight-block {
  padding: 20px;
  background-color: #F4E3D7;
}

.icon_banner_header {
  background-image: linear-gradient(90deg, $dark-red, $red);
  overflow: hidden;
  margin: 20px auto 20px 0;
  width: min-content;
  clip-path: polygon(0 0, 100% 0%, 92.5% 100%, 0% 100%);

  h3 {
    font-family: "Lato", Arial, sans-serif;
    font-weight: 400;
    color: $white;
    margin: .84rem 0 .84rem;
    padding: 0 88px 0 64px;
    width: max-content;

    i.fa {
      padding-right: 8px;
    }
  }
}

@media(max-width: 600px) {
  .icon_banner_header {
    width: auto;

    h3 {
      padding-left: 20px;
    }
  }
}

.slider {
  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  a.prev, .next {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: lightgray;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    left: 1230px;
    border-radius: 3px 0 0 3px;
    color: rgba(0,0,0,0.6);
  }
  .prev {
    left: 580px;
    border-radius: 3px 0 0 3px;
    color: rgba(0,0,0,0.6);
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    color: rgba(0,0,0,0.8);
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 2.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .slide_in {
    animation: slideIn .6s ease-in;
  }

  .slide_out {
    animation: slideOut .6s ease-in;
  }

  @keyframes slideIn {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    60% {
        transform: translateX(0px);
    }
    62% {
        transform: translateX(30px);
    }
    70% {
        opacity: 1;
    }
    80% {
        transform: translate(0);
    }
  }

  @keyframes slideOut {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    60% {
        transform: translateX(0px);
    }
    62% {
        transform: translateX(-30px);
    }
    70% {
        opacity: 1;
    }
    80% {
        transform: translate(0);
    }
  }
}

.slider.right {
  /* Position the "next button" to the right */
  .prev {
    left: auto;
    right: 1210px;
  }
  .next {
    left: auto;
    right: 550px;
  }
}

@media(max-width: 1285px) {
  .slider {
    a.prev, .next {
      position: relative;
      top: 190px;
    }
    a.next {
      left: 0;
      margin-left: 650px;
      margin-top: 0;
      top: 250px;
    }
    a.prev {
      left: 0;
      margin-right: 650px;
      margin-top: 0;
    }
  }
}

.slider .simple_slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  max-width: 560px;

  a.prev, .next {
    position: relative;
    margin: 0 auto;
    top: 122px;
    left: 0;
  }
}

.body-content .slider .simple_slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: none;
  width: 100%;

  .simple_slider__image-container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  iframe {
    width: 100%;
    max-width: 650px;
    height: 370px;
    justify-content: center;
  }

  a.prev, .next {
    position: relative;
    margin: 0;
    top: 30px;
    left: 0;
    width: 32px;
  }
}

@media(max-width: 600px) {
  .slider .simple_slider {
    iframe {
      width: 90%;
      margin-right: 0;
    }
    a.prev, .next {
      padding: 4px;
    }
  }
}

@media(min-width: 1500px) {
  .slider a.prev {
    right: 40% !important;
    left: auto !important;
  }

  .slider a.next {
    left: auto !important;
    right: 3% !important;
  }
}

.split_banner_section {
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
  margin: 20px 0;
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
  overflow: hidden;

  &__banner {
    background-image: linear-gradient(90deg, $dark-red, $red);
    overflow: hidden;
    margin: 40px auto 40px 0;
    width: 750px;
    height: 460px;
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
  }

  &__text {
    padding: 40px 80px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    h3, p, .rich-text, a {
      font-family: "Lato", Arial, sans-serif;
      color: $white;
    }

    .rich-text {
      margin-left: 0 !important;
      margin-bottom: 0 !important;

      a {
        color: $white !important;
        transition-property: opacity;
        transition-duration: .2s;
        transition-delay: .1s;
      }

      a:hover {
        opacity: .8;
      }
    }

    h3 {
      border-bottom: 2px solid $white;
      width: 380px;
      padding-bottom: 12px;
      align-self: flex-start;
    }

    p {
      font-size: 24px;
      font-weight: 200;
      margin-left: 0 !important;
    }

    .rich-text {
      margin: 10px auto 20px;
    }
  }

  &__button {
    margin: 20px auto;
    background-color: #00000000;
    border: 2px solid $white;
    border-radius: 4px;
    color: $white;
    font-size: 28px;
    font-weight: 400;
    padding: 10px 20px;
    text-align: center;
    align-self: center;
    transition-property: background-color, color;
    transition-duration: .3s;
    transition-delay: .1s;
  }

  &__image-container {
    position: absolute;
    left: 630px;
    height: 350px;
    width: 600px;
    overflow: hidden;

    iframe {
      height: 350px;
      width: 600px;
    }
  }
}

.split_banner_section.right {
  flex-direction: row-reverse;

  .split_banner_section__banner.right {
    background-image: linear-gradient(90deg, $red, $dark-red);
    margin: 40px 0 40px auto;
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
  }

  .split_banner_section__text.right {
    padding: 40px 60px;
    margin-right: 0;
    margin-left: 160px;
  }

  .split_banner_section__image-container.right {
    position: absolute;
    left: auto;
    right: 600px;
    width: 600px;
    height: 350px;
  }
}

@media(max-width: 1285px) {
  .split_banner_section {
    margin-top: -40px;
  }

  .split_banner_section {
    display: flex;
    flex-direction: column-reverse !important;
    align-items: center;
    margin-bottom: 80px;

    .split_banner_section__image-container, .split_banner_section__image-container.right {
      position: relative !important;
      left: 0;
      right: 0 !important;
      max-width: 80% !important;
      height: auto !important;
      margin-bottom: -100px;
      margin-top: 40px;

      iframe {
        width: 100%;
      }
    }

    .split_banner_section__banner, .split_banner_section__banner.right {
      margin: 0 auto !important;
      width: 100%;
      height: 100%;
      clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%) !important;
      position: relative;
    }

    .split_banner_section__text, .split_banner_section__text.right {
      padding: 40px 20px 100px 20px !important;
      justify-content: center;
      max-width: 600px;
      margin: 60px auto 0 !important;

      h3 {
        width: auto;
        padding-right: 20px;
      }
    }
  }
}

@media(min-width: 1500px) {
  .split_banner_section {
    display: flex;
    align-items: center;
    position: relative;
    margin: 20px 0;
    overflow: hidden;

    &__banner {
      background-image: linear-gradient(90deg, $dark-red, $red);
      overflow: hidden;
      margin: 40px auto 40px 0;
      width: 80% !important;
      height: 460px;
      clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    }

    .split_banner_section__text {
      padding: 40px 60px;
      padding-left: 10%;
      padding-right: 20%;
      margin-right: 0;
      margin-right: 160px;
    }

    .split_banner_section__text.right {
      padding: 40px 60px;
      padding-right: 10% !important;
      padding-left: 20% !important;
      margin-right: 0;
      margin-left: 160px !important;
    }

    .split_banner_section__image-container {
      position: absolute;
      left: 60%;
      right: auto;
      width: 600px;
      height: 350px;
    }

    .split_banner_section__image-container.right {
      position: absolute;
      left: auto;
      right: 60% !important;
      width: 600px;
      height: 350px;
    }

  }
}


.feature-events-list {
  display: flex;
  flex-wrap: wrap;

  a {
    text-decoration: none;
  }

  .featured-event:hover {
    transition-property: transform, box-shadow;
    transition-duration: .3s;
    transition-delay: .1s;
    transform: translate(-2px, -2px);
    box-shadow: 3px 3px 5px #00000020;
  }

  .featured-event {
    border: 1px solid lightgray;
    width: 272px;
    height: 376px;
    margin: 18px 0 18px 36px;
    box-shadow: 1px 1px 3px #00000020;
    overflow: hidden;

    &__meta-data {
      position: relative;
      height: 180px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .logo {
        padding: 0 18px;
      }
    }

    &__overlay {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      background-image: linear-gradient(360deg, #000000, #0000);
      z-index: 1;
    }

    &__date {
      color: white;
      text-decoration: none;
      position: absolute;
      bottom: 0;
      z-index: 2;
      font-size: 18px;
      padding: 4px 8px;
      font-weight: 800;
    }

    &__text {
      padding: 14px;
      min-height: 188px;
    }

    &__title {
      color: $red;
      font-size: 18px;
      line-height: 22px;
      // font-family: $header-font-family;
      font-weight: 600;
      padding-bottom: 4px;
      border-bottom: 2px solid $red;
      height: 72px;
      display: flex;
      align-items: center;
    }

    &__subtitle .rich-text {
      margin-bottom: 0px !important;
      margin-left: 0 !important;

      p {
        color: gray !important;
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 20px;
        margin-top: 8px;
        margin-left: 0 !important;
      }
    }


    &__subtitle {
      margin: 16px 0;
      margin-left: 0 !important;

      p {
        color: gray;
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 20px;
        margin-top: 8px;
        margin-left: 0 !important;
      }
    }
  }
}

@media(max-width: 1250px) {
  .feature-events-list {
    justify-content: flex-start;
  }
}


@media(max-width: 630px) {
  .feature-events-list {
    justify-content: center;

    .featured-event {
      margin-left: 0px;
    }
  }
}

.graphic-link-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 0;

  .graphic-link-item__container {
    width: 30%;
    margin: 40px 0 40px 0;
  }

  .graphic-link-item {
    max-width: 180px;

    &__image {
      max-width: 140px;
      margin: 0 auto;
      transition: .3s;
    }

    &__image:hover {
        transform: scale(1.1);
    }

    &__title {
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      padding: 10px 0;
      margin: 0 auto;
      line-height: 1.2;
      height: 63px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__divider {
      height: 4px;
      width: 30%;
      border-radius: 3px;
      background-color: #2199e8;
      margin: 2px auto 10px;
    }

    &__subtitle {
      max-width: 180px;
      color: gray;
      text-align: center;
      font-size: 14px;
      margin: 0 auto;
    }
  }
}

@media(max-width: 630px) {
  .graphic-link-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px auto;

    .graphic-link-item__container {
      width: 40%;
      margin: 40px 0 40px 0;
    }
  }
}
