// Note this was previously names _protocols


ul.accordion {
  background-color: $blue;
  color: white;
    li {
      a {
        color: $pale-grey;
        font-size: rem-calc(18);
        text-decoration: none;
        transition: color 0.2s, background-color 0.2s;
        &:hover, &:focus {
            color: darken( $blue, 20% );
            background-color: $pale-grey;
        }
      }
      &::before {
        display: none;
      }
    }
  }

.accordion-title::before {
  font-size: rem-calc(32);
  margin-top: -1.1rem;
}

.callout {
  background-color: #F9F1F1;
  border-radius: 2px;
  border: 0;
  margin-left: -80px;
  padding: 0.5rem 0.5rem 0.5rem 5rem;
  &::before {
    content: "\f05a";
    color: $grey;
    font-family: FontAwesome;
    font-size: 2.8rem;
    display: inline;
    float: left;
    margin-left: -56px;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
  }
  &.success {
      &::before {
        content: "\f058";
        color: $dark-teal;
      }
    }
    &.warning {
      &::before {
        content: "\f059";
        color: #ff6c54;
      }
    }
    &.alert {
      &::before {
        content: "\f071";
        color: $red;
    }
  }
}


.download {
    padding: 20px;
    border-radius: 4px;
    border: 1px solid $light-grey;
    transition: background-color 0.3s;
    &::before {
      content: "\f019";
      color: $light-grey;
      font-family: FontAwesome;
      float: left;
      font-size: 4rem;
      margin-top: -10px;
    }
    &:hover {
      background-color: $off-white;
      &:before {
        color: white;
      }
    }
    
    > * {
      margin-left: 80px;
    }
    h5 {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.9rem;
      &::after {
        content: "";
        width: 20px;
        height: 1px;
        background-color: $light-grey;
        left: 40px;
        display: block;
        margin: 10px 0;
      }
    }
    p {
      margin-bottom: 0;
    }
}

/* #protocol-intro-sections {
  background-image: url('../img/workshop-light.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-color: $white;
  margin-bottom: -($large-gutter);
  box-shadow:
      inset 0px 10px 22px -13px rgba(0,0,0,0.5);
}


/* ==========================================================================
   OFF CANVAS MENU / PROTOCOL NAV
   ========================================================================== */
/*





/* ==========================================================================
   COMPONENT NAV
   ========================================================================== */

/*@mixin heirarchy-list(
  $depth: 0,
  $indent: $medium-gutter,
  $font-size: 1rem,
  $line-color: transparentize( $dark-teal, 0.6)
  ){

  position: relative;
  z-index: 1;
  list-style: none;
  margin: 0;

  > li {
    > a {
      position: relative;
      z-index: 1;
      padding-left: $indent*0.75 + ( $indent * $depth );
      font-size: $font-size;
      display: block;
      position: relative;
      line-height: 2;

      @if $depth != 0 {
        &::before {
          content: '';
          position: absolute;
          z-index: 2;
          left: ( $indent * $depth );
          height: 100%;
          width: 1px;
          background: $line-color;
        }
        &::after {
          content: '';
          position: absolute;
          z-index: 2;
          height: 1px;
          width: $indent/2;
          left: ( $indent * $depth );
          top: 50%;
          background: $line-color;
        }
      }
    }
    > ol {
      &::before {
        content: '';
        position: absolute;
        z-index: 3;
        left: ( $indent * $depth );
        height: 100%;
            width: 1px;
            background: $line-color;
      }
    }
    &:last-child {
      > a {
        &::before {
          height: 50%;
        }
      }
      > ol {
        &::before {
          display: none;
        }
      }
    }
  }
}



.component-nav {
  margin-right: -($small-gutter);
  margin-left: -($small-gutter);

  > ol {
    @include heirarchy-list(0);
    > li > ol {
      @include heirarchy-list(1);
      > li > ol {
        @include heirarchy-list(2);
        > li > ol {
          @include heirarchy-list(3);
          > li > ol {
            @include heirarchy-list(4);
            > li > ol {
              @include heirarchy-list(5);
            }
          }
        }
      }
    }
  }
  ol {
    li {
      a {
        box-shadow: none;
        font-weight: 900;
        transition:
          color 0.2s,
          background 0.2s,
          box-shadow 0.2s;

        i {
          position: relative;
          z-index: 2;
        }
        &:hover {
          background: $pale-grey;
          box-shadow:
            inset 10px 0px 8px -8px rgba(0,0,0,0.2);
        }
        .sidebar & {
          &:hover, &.highlight {
            background-color: $light-grey;
            &.active {
              color: $red;
            }
          }
        }
      }

      &.active {
        > a {
          background: lighten($light-teal, 15%);
          color: $black;
          box-shadow:
            inset 10px 0px 8px -8px rgba(0,0,0,0.2);
          &:hover {
            background-color: $pale-grey;
            color: $red;
          }
        }
      }
    }
  }
}


/* ==========================================================================
<<<<<<< HEAD
   COMPONENTS INDEX PAGE
   ========================================================================== */

/*.component-index {
  padding-bottom: $large-gutter;

  .component-nav {

    > ol {
      @include heirarchy-list(0, $large-gutter, rem-calc(18));
      > li > ol {
        @include heirarchy-list(1, $large-gutter, rem-calc(18));
        > li > ol {
          @include heirarchy-list(2, $large-gutter, rem-calc(18));
          > li > ol {
            @include heirarchy-list(3, $large-gutter, rem-calc(18));
            > li > ol {
              @include heirarchy-list(4, $large-gutter, rem-calc(18));
              > li > ol {
                @include heirarchy-list(5, $large-gutter, rem-calc(18));
              }
            }
          }
        }
      }
    }
  }
}


/* ==========================================================================
   COMPONENT PAGE
   ========================================================================== */
/*.sidebar {

  .component-nav {

    ol {
      li {
        a {
          font-weight: 400;
        }
      }
    }

    > ol {
      @include heirarchy-list(0, $small-gutter, rem-calc(15));
      > li > ol {
        @include heirarchy-list(1, $small-gutter, rem-calc(15));
        > li > ol {
          @include heirarchy-list(2, $small-gutter, rem-calc(15));
          > li > ol {
            @include heirarchy-list(3, $small-gutter, rem-calc(15));
            > li > ol {
              @include heirarchy-list(4, $small-gutter, rem-calc(15));
              > li > ol {
                @include heirarchy-list(5, $small-gutter, rem-calc(15));
              }
            }
          }
        }
      }
    }
  }
}*/
