/* ==========================================================================
   BUTTONS
   ========================================================================== */

/* Default Buttons
   ========================================================================== */
.button, button {
  color: $black;
  background-color: $light-grey;
  font-size: rem-calc(16);
  margin: 0;
  border: none;
  border-radius: rem-calc(3);
  box-shadow: none;
  background-size: 200%;
  background-position: 0% 0%;
  transition: box-shadow 0.1s ease 0, background-position 0.1s ease 0, border-color 0.1s ease 0;
  &:hover, &:focus {
    background-color: $button-shadow;
    background-image: linear-gradient($button-highlight, $button-shadow, $button-shadow);
    box-shadow: none;
    background-size: 200%;
    background-position: 0% 100%;
  }
  &:active {
    transition: none;
  }
}

/* ==========================================================================
FORMS
========================================================================== */
input[type="text"], input[type="email"], input[type="password"], input[type="number"], textarea, select {
  background: $pale-grey;
  border: none;
  height: rem-calc(35);
  line-height: rem-calc(35);
  padding: 0 0.75em;
  border-radius: rem-calc(3);
  border: 1px solid transparent;
  width: 100%;
  max-width: 40em;
  transition: color 0.2s, box-shadow 0.2s, border 0.2s;

  &:focus {
    outline: none;
    color: $dark-teal;
    border: 1px solid $medium-teal;
  }
}
label {
  font-size: 1rem;
  font-weight: 900;
  color: $black;
}
