.exercise-detail .tabs-panel > a.button {
  float: right;
}

.exercise-detail object.pdf {
  width: 100%;
  height: calc(11in + 50px);
  max-width: calc(8.5in + 48px);
  max-height: calc(100vh - 120px);
}

.exercise-detail h2 {
  margin: 0.625rem 0 1.875rem;
}

.exercise-list h2 {
  font-size: 30px;
  a {
    color: $black;
    text-decoration: none;
  }
}

.exercise-list p.excerpt {
  margin: 0.5em 0 1.25rem 0;
}

.tag-indicator {
  color: #a32428;
}

.tag-indicator:after {
  content: ", ";
  color: #8c8c8c;
}

.tag-indicator:last-of-type:after {
  content: "";
}

.tag-indicator:last-of-type {
  padding-right: 7px;
}

.tags .tag {
  background-color: #ececec;
  text-decoration: none;
  padding: 3px 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.exercise-filter {
  padding-bottom: 60px;

  .tag-group {
    margin: 20px 0;
  }

  .tag label {
    display: flex;
    align-items: center;
    font-weight: normal;
    cursor: pointer;

    .tag-checkbox {
      margin-bottom: 0;
      transform: translate(0, 1px);
    }
  }

  .tag-name .count {
    color: #8c8c8c;
  }

  .clear-button {
    background-color: #E7DEDE;
    display: inline-block;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 4px;
    margin-top: 10px;
  }
}

p.filter-text {
  opacity: 0.7;
  font-style: italic;
  font-size: 1em;
}

.exercise-detail a.download-all {
  float: right;
}

@media(max-width: 600px) {
  .exercise-detail .tabs-panel {
    a.button {
      float: none;
    }
  }
  .tabs.vertical {
    display: none;
  }
  .tabs-content {
    background-color: transparent;
    border: 0;
  }
  .tabs-content > * {
    display: block;
    margin: 10px 0;
    background: $tab-background-active;
    display: flex !important;
    flex-direction: column;

    > a.button {
      order: 2;
    }

    > object.pdf, div > .large.button {
      display: none;
    }
  }
}

a.card {
  text-decoration: none;
}

a.card:hover,
a.card:focus {
  color: black;
}

.materials {
  &.cards.row .columns {
    padding: 0 10px;
  }

  &.cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: -20px
  }

  .card {
    width: calc(33.33333% - 20px);
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 0;
    box-sizing: content-box;
    cursor: pointer;
    transition: 0.2s;
  }

  .card:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px 2px;
  }

  .card .card-divider {}

  .card .rich-text {
    max-height: 100px;
    overflow-y: hidden;
    font-size: 14px;
  }

  .card .rich-text p {
    font-size: 14px;
  }

  .card .tag {
    font-size: 13px;
  }

  .card h2 {
    font-family: "Lato", Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    margin-bottom: 0px;
    line-height: 1.5;
  }
}

.exercise-detail .tags {
  margin: 20px 0;
}

.exercise-detail .tags .label {
  font-weight: bold;
}

.exercise-detail .tag {
  background: transparent;
  padding: 0;
}

.exercise-detail .tag::after {
  content: ", ";
  color: black;
}
.exercise-detail .tag:last-child::after {
  display: none;
}

@media(max-width: 900px){
  .materials .card {
    width: calc(50% - 20px);
    max-width: 400px;
    margin: 20px auto;
  }
}

@media(max-width: 600px){
  .materials .card {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
  }
}
