#main-footer {
  background-image: linear-gradient(90deg, $special-callout-bg-highlight, $special-callout-bg-shadow);
  color: $white;
  padding: $small-gutter 0 0;
  box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.34);
  position: relative;
  z-index: 3;
  
  #sponsor-logo {
    text-align: center;
    @include breakpoint(medium up) {
      text-align: right;
      float: right;
    }

    a {
      vertical-align: middle;
      box-shadow: none;
    }

    .joining-text {
      @extend %secondary-text;
      display: inline-block;
      color: $white;
      max-width: 6em;
      text-align: center;
      line-height: 1;
    }

    .tier-logo, .aps-logo {
      vertical-align: middle;
      box-shadow: none;
      display: block;
      margin: 0 auto $small-gutter;
      display: inline-block;
      svg {
        display: block;
        margin: 0 auto;
        * {
          fill: $white;
          transition: fill 0.2s;
        }
      }

      &:hover {
        svg {
          #tier {
            fill: $light_teal;
          }
        }
      }
    }

    .tier-logo {
      width: rem-calc(70);
      @include breakpoint(medium up) {
        width: rem-calc(100);
      }
    }

    .aps-logo {
      width: rem-calc(110);
      @include breakpoint(medium up) {
        width: rem-calc(150);
      }
    }
  }

  #footer-nav {
    ul {
      list-style: none;
      margin: 0 0 $small-gutter 0;
      text-align: center;
      @include breakpoint(medium up) {
        text-align: left;
      }
      li {
        display: inline-block;
        margin: 0 $small-gutter/2 $small-gutter/2;
        @include breakpoint(medium up) {
          margin: 0 $small-gutter 0 0;
        }
        a {
          color: $white;
          box-shadow: 0 (rem-calc(4)) 0 0 transparentize($white, 0.7);
          &:hover {
            box-shadow: 0 (rem-calc(4)) 0 0 $white;
          }
        }
      }
    }
  }

  #subfooter {
    background: $dark-red;
    padding: $small-gutter/2 0;
    #legal-nav {
      text-align: center;
      @include breakpoint(medium up) {
        text-align: left;
      }
      
      @extend .secondary-text;
      ul {
        list-style: none;
        margin: 0;
        li {
          display: inline-block;
          margin: 0 $small-gutter/2;
          @include breakpoint(medium up) {
            margin: 0 $small-gutter 0 0;
          }
          a {
            color: $white;
            box-shadow: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}