#main-footer {
  background-image: linear-gradient(90deg, $red, $dark-red);
  color: $white;
  padding: $small-gutter 0 0;
  position: relative;
  z-index: 3;
  
  #sponsor-logo {
    text-align: center;
    margin: 20px auto;
    display: block;
    float: none;
    @include breakpoint(large up) {
      text-align: right;
      float: right;
      margin-top: -120px;
    }

    a {
      vertical-align: middle;
      box-shadow: none;
    }

    .joining-text {
      @extend %secondary-text;
      display: inline-block;
      color: $white;
      max-width: 6em;
      text-align: left;
      line-height: 1;
    }

    .tier-logo, .aps-logo {
      vertical-align: middle;
      box-shadow: none;
      svg {
        display: block;
        margin: 0 auto;
        * {
          fill: $white;
          transition: fill 0.2s;
        }
      }

      &:hover {
        svg {
          #tier {
            fill: $light_teal;
          }
        }
      }
    }

    .tier-logo {
      display: inline-block;
      margin: 0 auto $small-gutter;
      width: rem-calc(70);
      @include breakpoint(medium up) {
        width: rem-calc(100);
      }
    }

    .aps-logo {
      width: rem-calc(200);
      display: inline-block;
      margin: rem-calc(-10) auto 0;
      @include breakpoint(medium up) {
        width: rem-calc(300);
        margin: rem-calc(-20) auto 0;
        display: block;
      }
    }
  }

  #footer-nav {
    margin-top: 40px 0 0 0;
    ul {
      list-style: none;
      margin: 0 0 $small-gutter 0;
      text-align: center;
      @include breakpoint(medium up) {
        text-align: left;
      }
      li {
        display: inline-block;
        margin: 0 $small-gutter/2 $small-gutter/2;
        @include breakpoint(medium up) {
          margin: 0 $small-gutter 0 0;
        }
        &::before {
          display: none;
        }
        a {
          color: $white;
          text-decoration: none;
          transition: opacity 0.3s;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  #subfooter {
    background: $dark-red;
    padding: $small-gutter/2 0;
    #legal-nav {
      text-align: center;
      @include breakpoint(medium up) {
        text-align: left;
      }
      
      @extend .secondary-text;
      ul {
        list-style: none;
        margin: 0;
        li {
          display: inline-block;
          margin: 0 $small-gutter/2;
          &::before {
            display: none;
          }
          @include breakpoint(medium up) {
            margin: 0 $small-gutter 0 0;
          }
          a {
            color: $white;
            box-shadow: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

/* Mailing list */
#newsletter-section > .row {
  color: $light-grey;
  > .footer-title {
    h2 {
      color: $off-white;
      font-size: 1.3em;
      &::before {
        content: "\f003";
        font-family: FontAwesome;
        display: block;
        float: left;
        margin-right: 10px;
        opacity: 0.7;
      }
    }
  }
  .footer-description p {
    color: $light-grey;
  }
  .mailchimp-signup {
    padding-left: 0;
    .button {
      padding: 10px 20px 9px 20px;
      &:hover {
        color: $dark-red;
      }
    }
  }
}

#twitter-section {
  min-height: 300px;
  > h2 {
    font-size: 1.3em;
    > a {
      color: $off-white;
      font-size: 1em;
      text-decoration: none;
      &:hover {
        color: $white;
        text-decoration: underline;
      }
      &::before {
        content: "\f099";
        font-family: FontAwesome;
        display: block;
        float: left;
        margin-right: 10px;
        opacity: 0.7;
      }
    }
  }
  iframe {
    background-color: white;
    border-radius: 8px;
    display: block;
    clear: both;
    opacity: 0.8;
    &:last-child {
      background-color: transparent;
      margin: 20px 155px;
    }
      }
    }


