.template-homepage {
  background-color: #fefefe;
  background-image: none;

    .block-section {
        h2 {
            display: inline-block;
            &::before {
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                position: relative;
                left: -.25em
            }
        }
    }


    /* ==========================================================================
    BANNER
    ========================================================================== */

    #site-banner {
      display: flex;
      background-image: linear-gradient(90deg, $red, $dark-red);
      color: $white;
      overflow: hidden;
      max-height: 300px;
      margin-bottom: 40px;

      #banner-photo {
        clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
        align-self: flex-end;

        img {
          filter: brightness(1.2);
        }
      }

      #banner-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 20px;
        max-width: 420px;
        margin-top: -50px;
        margin-left: -120px;
        h1, span {
          font-family: "Lato", Arial, sans-serif;
        }

        #site-title {
          text-transform: uppercase;
          font-weight: 400;
          opacity: .7;
          font-size: 1.5rem;
          border-bottom: 2px solid #ffffffb4;
          line-height: 40px;
          width: 75%;
          text-align: right;
          align-self: flex-end;
        }

        #intro-subtitle {
          margin-right: 0;
          font-size: 2.5rem;
          line-height: 40px;
          padding-left: 40px;
        }
      }
    }

    @media(max-width: 1000px){
      #site-banner {

        #banner-photo {
          width: 65%;
        }

        #banner-text {
          margin-left: -6vw;

          #intro-subtitle {
            font-size: 4vw;
            line-height: 4vw;
          }
        }
      }
    }

    @media(min-width: 1000px){
      #site-banner {

        #banner-photo {
          width: 70%;

          img {
            margin-left: -60px;
          }
        }
      }
    }

    @media(min-width: 1200px){
      #site-banner {
        max-height: 400px;
      }
    }

    @media(max-width: 600px){
      #site-banner {
        flex-direction: column;
      }

      #banner-photo {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%) !important;
        align-self: center;
        width: 100% !important;
        height: 200px;
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          position: absolute;
          bottom: -50px;
        }
      }

      #banner-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-right: 40px !important;
        max-width: none !important;
        height: 200px !important;
        margin-top: 0 !important;
        margin-left: 0 !important;
      }

    }


  #home-page {
    .rich-text {
      font-family: "Lato", Arial, sans-serif;
      font-size: 24px;
      font-weight: 200;
      margin-left: 60px;
      margin-bottom: 80px;
      
      a {
        color: $red;
      }
    }
  }

}
