#home-page {

  .block-section {
    h2 {
      display: inline-block;

      &:before {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        position: relative;
        left: -.25em
      }
    }
  }


/* ==========================================================================
   INTRO
   ========================================================================== */
  #intro-section {
    background-color: #EAEAEA;
    background-image: url('../img/bg-image.png');
    padding: $large-gutter 0;
    background-size: 60px;
    @include breakpoint(medium up){
      padding: $large-gutter*2 0;
    }

    .row {
      @include breakpoint(medium up){
        display: flex;
        align-items: center;
      }
    }

    #logo {
      display: block;
      width: 75%;
      max-width: rem-calc(500);
      margin: 0 auto;
      @include breakpoint(medium up){
        width: 100%;
        margin: 0 0 0 auto;
      }
      svg {
        #project {
          fill: $white;
        }
        #tier {
          fill: $red;
        }
      }
    }

    h1 {
      @extend %display-heading;
      text-transform: none;
      font-size: 3rem;
    }
    #intro-text {
      p {
        font-size: rem-calc(16);
        max-width: 25em;
        margin: 0 auto $small-gutter;
        @include breakpoint(medium up){
          font-size: rem-calc(18);
        }
        @include breakpoint(large up){
          font-size: rem-calc(20);
        }
      }

      #intro-button {
        width: 100%;
        @include breakpoint(medium up){
          width: auto;
        }
      }
    }
  }

/* Edd TODO and unhack this */
.featured-index-page {
  padding-left: 40px;
}
.featured-index-page h2.section-title {
    font-size: 1.25rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.section-intro {
  display: flex;
  margin-bottom: 20px;
  .section-description {
    background-color: $grey;
    color: $pale-grey;
    columns: 300px 3;
    column-gap: 20px;
    padding: 20px;
    max-width: 45rem;
    float: left;
  }
  .section-children {
    float: left;
    background-color: $grey;
    padding: 20px;
    min-width: 18rem;
    margin-left: 40px;
    overflow: hidden;
    li {
      list-style: none;
      padding: 3px 12px;
      &:before {
        content: "\f054";
        color: $blue;
        font-family: FontAwesome;
        margin: 0 5px 0 -15px;
      }
      &::after {
          content: "";
          display: block;
          height: 1px;
          width: 150%;
          margin: 10px 0 0px -20%;
          background-color: $light-grey;
          opacity: 0.3;
        }
      a {
        text-decoration: none;
        transition: opacity 0.2s;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

section.subfeatured-content h2.subfeature-section-title {
    font-size: 1.15rem;
    border-bottom: 3px solid #ddd;
    padding-bottom: 20px;
    display: block;
    text-transform: uppercase;
  }
.subfeature-section-intro ul li {
      &::before {
        content: "\f054";
        color: $red;
        font-family: FontAwesome;
        margin: 0 5px 0 0px;
      }
      &::after {
          content: "";
          display: block;
          height: 1px;
          width: 100%;
          margin: 10px 0 0 0;
          background-color: $light-grey;
          opacity: 0.9;
      }
      a {
        text-decoration: none;
        transition: color 0.2s;
        font-weight: 600;
        font-size: 1.1rem;
        &:hover {
          color: $red;
        }
      }
    }

/* TODO This appears to be styling most of the homepage. Odd semantics */
  .featured-index-page {
    background: $dark-grey;
    color: $white;
    * {
      color: $white;
    }
    h2 {
      font-size: 1.25rem;
    }
  }
  .subfeatured-content {
    .row {
      display: block;
    }
    background: white;
    h2 {
      font-size: 1.25rem;
      border-bottom: 3px solid #ddd;
      padding-bottom: 20px;
      display: block;
    }
  }
}
