/* TODO Unhack apart */
#main-container {
  padding-top: calc(#{$expanded-topbar-height} + 10px);
}


body {
  background: $dark-red;
}
.page-header {
  background-color: #EAEAEA;
  background-image: url('../img/bg-image.png');
  background-size: 60px;
  padding: $small-gutter/2 0;
  box-shadow: inset 0px -6px 22px -13px rgba(0,0,0,0.5);
  @include breakpoint(medium up){
    padding: ($topbar-height) 0 $small-gutter;
  }
  h1 {
    @extend %large-heading;
  }

  .special.button {
    width: 100%;
    font-size: rem-calc(14);
    margin-top: $small-gutter;
    border: 1px solid $medium-teal;
    @include breakpoint(medium up){
      margin-top: 0;
    }
  }
}

.body-content {
  max-width: rem-calc(800);
}

.page-content {
  background: $white;
  padding: $small-gutter 0;
  @include breakpoint(medium up){
    padding: $medium-gutter 0;
  }
}

.page-intro {
  p {
    @extend %display-heading;
    text-transform: none;
    line-height: 1.5;

    &:last-child {
      margin-bottom: 0;
    }
  }
}



.row {
  &.full-width {
    max-width: none;
  }
}

section {
  > header {
    &:after {
      content: "";
      margin: 25px 0 30px 0;
      display: block;
      width: 45px;
      height: 1px;
      background-color: $light-grey;
    }
    > h2 {
      font-size: 2.5rem;
      margin-bottom: 0;
    }
    > .subheadline {
      font-family: $header-font-family;
      color: $grey;
      font-size: 1.4rem;
      opacity: 0.5;
    }
  }
}

.subpage-abstract {
  margin-left: 80px;
  &::after {
      content: "";
      width: 40px;
      height: 1px;
      margin: 30px 0 30px 0;
      background-color: $light-grey;
      display: block;
  }
  > h2 {
      &:first-child {
      margin-top: 0;
    }
  a {
    text-decoration: none;
    font-size: 1.7rem;
    margin-bottom: 0px;
    &::before {
      content: "\f105";
      color: $light-grey;
      font-family: FontAwesome;
      font-size: 1.3rem;
      margin: 0 30px 0 -50px;
    }
  }
}
}

.event-index {
.article-meta .article-meta-item::after { display: none;}
 h1 {
      &:first-child {
      margin-top: 0;
    }
    text-decoration: none;
    font-size: 1.7rem;
    margin-bottom: 0px;
    &::before {
      content: "\f105";
      color: $light-grey;
      font-family: FontAwesome;
      font-size: 1.3rem;
      margin: 0 30px 0 0px;
    }
  }
    .article-meta {
      margin-left: 40px;
    }
    .meta { 
      opacity: 0.4;
      padding-left: 0;
    }
    .article-meta-item {
      clear: both;
      margin-bottom: 5px;
      display: block;
    }
  border-bottom: 1px solid $light-grey;
  padding-bottom: 20px;
  &:first-child {
    margin-top: 0;
  }
}

.events-index > li::after { display: none; }