/* ==========================================================================
   MAIN CONTAINER
   ========================================================================== */
#main-container {
  padding-top: $topbar-height;
  background-image: linear-gradient(90deg, $callout-bg-highlight, $callout-bg-shadow);
}



/* ==========================================================================
   PAGE LAYOUT
   ========================================================================== */
body {
  background: $dark-red;
}
.page-header {
  background-image: linear-gradient(90deg, $callout-bg-highlight, $callout-bg-shadow);
  padding: $small-gutter/2 0 0;
  box-shadow: inset 0px -6px 22px -13px rgba(0,0,0,0.5);
  @include breakpoint(medium up){
    padding: ($topbar-height + $small-gutter) 0 $small-gutter/2;
  }
  h1 {
    @extend %large-heading;
  }

  .page-intro {
    @extend %display-heading;
    text-transform: none;
    p {
      line-height: 1.5;
    }
  }

  .button {
    width: 100%;
    font-size: rem-calc(14);
  }
}

.page-content {
  background: $white;
  padding: $small-gutter 0;
  @include breakpoint(medium up){
    padding: $medium-gutter 0;
  }
}



/* ==========================================================================
   ROW OVERRIDES
   ========================================================================== */
.row {
  &.full-width {
    max-width: none;
  }
}



/* ==========================================================================
   BLOCK SECTIONS
   ========================================================================== */

.block-section {
  padding: $small-gutter 0 $medium-gutter;
  @include breakpoint(medium up){
    padding: $large-gutter 0;
  }
  @include breakpoint(large up){
    padding: $medium-gutter*2 0;
  }

  .row {
    @include breakpoint(medium up){
      display: flex;
      align-items: center;
    }
  }
  
  /* Section Intro
     ========================================================================== */
  .section-intro {
    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 50%;
      margin: 0 auto $small-gutter;
      background: $transparent-black;
    }
    @include breakpoint(medium up){
      &::after {
        display: none;
      }
    }
  }

  /* Section Title
     ========================================================================== */
  .section-title {
    @extend %display-heading;
    text-transform: uppercase;
    margin: 0 0 $small-gutter;
    .subtitle {
      display: block;
      text-transform: none;
      color: $grey;
      font-size: 0.8em;
    }
  }
  
  /* Section Desctiption
     ========================================================================== */
  .section-description {
    @extend %secondary-text;
    p {
      margin-bottom: $small-gutter;
    }
  }
  
  /* Section Button
     ========================================================================== */
  .section-button {
    @extend .monochrome;
    margin-bottom: $small-gutter;
    @include breakpoint(medium up){
      margin-bottom: 0;
    }
  }
  


  /* EVEN SECTIONS / ALT SECTIONS
     ========================================================================== */
  &:nth-child(even) {
    background: $pale-grey;
  }

  &.alternate {
    background: $pale-grey;
    &:nth-child(2n){
      background: $white;
    }
  }


  /* Minimized, narrower, less padding
     ========================================================================== */
  &.minimized {
    padding: $small-gutter 0 0;
  }


  /* Link List
     ========================================================================== */
  .section-link-list {
    list-style: none;
    margin: 0;
    li {
      margin-bottom: $small-gutter;
      a {
        @extend %medium-heading;
        color: $dark-teal;
        &:hover {
          color: $red;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }


/* ==========================================================================
   GRID BLOCK SECTIONS
   ========================================================================== */
  &.grid {

    .row {
      align-items: stretch;
    }

    .section-grid-item {
      position: relative;
      &::after {
        display: block;
        content: '';
        width: 50%;
        height: 1px;
        background: $transparent-black;
        margin: $small-gutter auto;
      }
      @include breakpoint(medium up){
        &::after {
          display: none;
        }
      }

      .section-title {
        @extend %medium-heading;
        margin-bottom: $small-gutter/2;
      }
      
      p {
        margin: 0;
        padding-bottom: $small-gutter;
      }
      .button {
        @include breakpoint(small only){
          width: 100%;
          font-size: rem-calc(13);
        }
      }
    }
  }
}




/* ==========================================================================
   PANEL LAYOUT (i.e Protocol Pages)
   ========================================================================== */
.row.panel-layout {
  @include breakpoint(medium up){
    display: flex;
    align-items: stretch;
  }
  

  /* Main Panel
     ========================================================================== */
  .main-panel {
    background: $white;
    padding: $small-gutter;
    position: relative;
    z-index: 2;
    box-shadow:
      0px 5px 12px 5px rgba(0,0,0,0.2),
      inset 10px 0px 8px -8px rgba(0,0,0,0.2),
      inset 0px -23px 12px -20px rgba(0,0,0,0.31);
  }
  

  /* Sidebar Panel
     ========================================================================== */

  .sidebar {
    background-color: $off-black;
    padding: $small-gutter;
    font-size: rem-calc(14);
    margin-top: rem-calc(3);
    color: $white;
    box-shadow: inset 0px -31px 12px -20px rgba(0,0,0,0.31);

    .callout {
      margin: 0 (-$small-gutter);
    }


    h2 {
      @extend %medium-heading;
      color: $white;
    }

    .intro {
      @extend %display-heading;
      color: $white;

      text-transform: none;
    }
  }
}





/* ==========================================================================
   CALLOUT PANELS
   ========================================================================== */
.callout {
  border: none;
  padding: $small-gutter;
  color: foreground($callout-bg-highlight, $black, $white);
  background-color: $callout-bg-highlight;
  background-image: linear-gradient(90deg, $callout-bg-highlight, $callout-bg-shadow);

  &.special {
    color: foreground($special-callout-bg-highlight, $black, $white);
    font-weight: foreground($special-callout-bg-highlight, 400, 700);
    background-color: $special-callout-bg-highlight;
    background-image: linear-gradient(90deg, $special-callout-bg-highlight, $special-callout-bg-shadow);
  }
}