/* ==========================================================================
   ROW OVERRIDES
   ========================================================================== */
   
   .row {
      &.full-width {
         max-width: none;
      }
   }



/* ==========================================================================
   MAIN PANEL
   ========================================================================== */
   
   .main-panel {
      padding: $grid-column-gutter;
      position: relative;
      z-index: 2;
      box-shadow: 8px 0px 4px -4px rgba(0,0,0,0.2);
   }



/* ==========================================================================
   CALLOUT PANELS
   ========================================================================== */

   .callout {
      border: none;
      padding: $grid-column-gutter;
      color: foreground( $callout-bg-highlight, $black, $white );
      @include linear-gradient( 90deg, $callout-bg-highlight, $callout-bg-shadow );

      &.special {
         color: foreground( $special-callout-bg-highlight, $black, $white );
         font-weight: foreground( $special-callout-bg-highlight, 400, 700 );
         @include linear-gradient( 90deg, $special-callout-bg-highlight, $special-callout-bg-shadow );
      }
   }



/* ==========================================================================
   SIDEBAR
   ========================================================================== */

   .sidebar {
      @include linear-gradient( 90deg, $pale-grey, $light-grey );
      position: relative;
      z-index: 1;
      padding: $grid-column-gutter;
      font-size: rem(14);
      
      .callout {
         margin: 0 (-$grid-column-gutter);
      }
   }