/* ==========================================================================
   MAIN CONTAINER
   ========================================================================== */
#main-container {
  margin-top: $topbar-height;
}



/* ==========================================================================
   PAGE LAYOUT
   ========================================================================== */
body {
  background: $dark-red;
}
.page-header {
  background-image: linear-gradient(90deg, $callout-bg-highlight, $callout-bg-shadow);
  padding: $small-gutter/2 0 0;
  box-shadow: inset 0px -6px 22px -13px rgba(0,0,0,0.5);
  @include breakpoint(medium up){
    padding: $small-gutter 0 $small-gutter/2;
  }
  h1 {
    @extend %large-heading;
  }

  .page-intro {
    @extend %display-heading;
    text-transform: none;
    p {
      line-height: 1.5;
    }
  }
}

.page-content {
  background: $white;
  padding: $small-gutter 0;
  @include breakpoint(medium up){
    padding: $medium-gutter 0;
  }
}



/* ==========================================================================
   ROW OVERRIDES
   ========================================================================== */
.row {
  &.full-width {
    max-width: none;
  }
}



/* ==========================================================================
   MAIN PANEL
   ========================================================================== */
.main-panel {
  padding: $small-gutter;
  position: relative;
  z-index: 2;
  box-shadow: 8px 0px 4px -4px rgba(0, 0, 0, 0.2);
}



/* ==========================================================================
   CALLOUT PANELS
   ========================================================================== */
.callout {
  border: none;
  padding: $small-gutter;
  color: foreground($callout-bg-highlight, $black, $white);
  background-color: $callout-bg-highlight;
  background-image: linear-gradient(90deg, $callout-bg-highlight, $callout-bg-shadow);

  &.special {
    color: foreground($special-callout-bg-highlight, $black, $white);
    font-weight: foreground($special-callout-bg-highlight, 400, 700);
    background-color: $special-callout-bg-highlight;
    background-image: linear-gradient(90deg, $special-callout-bg-highlight, $special-callout-bg-shadow);
  }
}



/* ==========================================================================
   SIDEBAR
   ========================================================================== */
.sidebar {
  background-color: $pale-grey;
  background-image: linear-gradient(90deg, $pale-grey, $light-grey);
  position: relative;
  z-index: 1;
  padding: $small-gutter;
  font-size: rem-calc(14);

  .callout {
    margin: 0 (-$small-gutter);
  }
}