#main-container {
  background: white;
  @include breakpoint(large up) {
    padding-top: $expanded-topbar-height;
  }
}

main {
  @include breakpoint(xlarge) {
    padding-left: 3rem;
  }
}

body {
  background: $white;
}
.page-header {
    border-top: 10px solid #222;
  background-color: $red;
  background-image: url('../img/bg-image-15.png');
  background-size: 60px;
  color: $white;
  padding: $small-gutter/2 0;
  @include breakpoint(medium up){
    padding: ($topbar-height) 0 $small-gutter;
  }
  @include breakpoint(xlarge) {
    padding-left: 2rem;
  }
  .introductory-headline {
    color: $white;
  }

  .special.button {
    width: 100%;
    font-size: rem-calc(14);
    margin-top: $small-gutter;
    border: 1px solid $medium-teal;
    @include breakpoint(medium up){
      margin-top: 0;
    }
  }
}

.has-sidebar .body-content {
  max-width: 40rem;
  &.columns:first-of-type {
    padding-left: 0;
  }
  @include breakpoint(small up) {
    margin-left: 10px;
  }
  @include breakpoint(medium up) {
    margin-left: 15px;
  }
  @include breakpoint(large up) {
    margin-left: 40px;
  }
}

.page-content {
  background: $white;
  padding: $small-gutter 0;
  @include breakpoint(medium up){
    padding: $medium-gutter 0;
  }
}

.page-intro {
  p {
    text-transform: none;
    line-height: 1.5;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.row {
  margin: 0 20px;
  @include breakpoint(large up) {
    margin: 0 0 0 20px;
  }
  &.full-width {
    max-width: none;
  }
}

section {
  > header {
    &:after {
      content: "";
      margin: 25px 0 30px 0;
      display: block;
      width: 45px;
      height: 1px;
      background-color: $light-grey;
    }
    > h2 {
      font-size: 2rem;
      line-height: 2.3rem;
      margin-bottom: 10px;
    }
    > .subheadline {
      font-family: $header-font-family;
      color: $grey;
      font-size: 1.4rem;
      opacity: 0.5;
    }
  }
}

.subpage-abstract {
  margin-left: 80px;
  &::after {
      content: "";
      width: 40px;
      height: 1px;
      margin: 30px 0 30px 0;
      background-color: $light-grey;
      display: block;
  }
  > h2 {
      &:first-child {
      margin-top: 0;
    }
  a {
    text-decoration: none;
    font-size: 1.7rem;
    margin-bottom: 0px;
    &::before {
      content: "\f105";
      color: $light-grey;
      font-family: FontAwesome;
      font-size: 1.3rem;
      margin: 0 30px 0 -40px;
    }
  }
}
@include breakpoint(small only) {
  margin-left: 0px;
}
}

.pagination {
  .label {
    float: left;
    margin: 23px 20px 0 20px;
    opacity: 0.5;
  }
  .page-numbers {
    display: inline-block;
    a {
      display: inline-block;
      margin-top: 20px;
      text-decoration: none;
      .active {
        background-color: $red;
        color: $off-white;
      }
      &:hover {
        background-color: $red;
        color: $off-white;
      }
    }
  }
}
