ul.person-list {
  li {
    &::before {
      display: none;
    }
  article.person {
    border: 1px solid $light-grey;
    border-radius: 4px;
    overflow: hidden;
    .img-thumbnail {
      margin: 0 0 20px 0;
    }
    .title {
      padding: 1.6rem;
    }
    h2 {
      font-size: 1.3rem;
      span {
        color: $grey;
        opacity: 0.5;
      }
    }
    h4 {
      font-size: 100%;
      font-family: $body-font-family;
      font-weight: 400;
    }
    }
  }
  a {
    text-decoration: none;
  }
}

.people, .fellowships {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
    margin-top: 0;
  }
  .block-section {
    padding-left: 20px;
  }
}