/* PERSON INDEX PAGE */
ul.person-list {
    li {
        &::before {
            display: none;
        }
        article.person {
            border: 1px solid $light-grey;
            border-radius: 4px;
            overflow: hidden;
            height: auto !important;

            .img-thumbnail {
                background-color: $grey;
                margin: 0 0 20px 0;
                width: 100%;
                height: auto;
                float: none;

                @include breakpoint(medium) {
                    float: left;
                    width: auto;
                    min-width: 280px;
                    min-height: 280px;
                }
            }
            .title {
                padding: 1.6rem;
            }
            h2 {
                font-size: 1.3rem;
                span {
                    color: $grey;
                    opacity: 0.5;
                    font-size: 1.3rem;
                }
            }
            h4 {
                font-size: 100%;
                font-family: $body-font-family;
                font-weight: 400;
            }
        }
    }
    a {
        text-decoration: none;
    }
}

.fellowships {
    margin-top: 20px;
}

.people, .fellowships {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
        margin-top: 0;
    }
    .block-section {
        padding-left: 20px;
        @include breakpoint(small up) {
            padding-left: 10px;
        }
        @include breakpoint(large up) {
            padding-left: 15px;
        }
    }
}

/* PERSON PAGE */
.job-titles {
    font-size: 1.5rem;
}
span.academic-title {
    color: $grey;
    opacity: 0.5;
    font-size: 2.8rem;
}

.people.meta {
    word-break: break-all;
    dt {
        margin-bottom: 0;
        font-family: $header-font-family;
    }
    dd {
        margin-bottom: 1rem;
    }
}

.person-img {
    + figcaption {
        margin-top: -10px;
        span {
            display: inline;
            font-weight: 600;
            opacity: 0.5;
        }
        &::before {
            display:none;
        }
    }
}

figcaption.people {
    background-color: transparent;
    padding: 0;
    margin-bottom: 15px;
}

ul.accordion .accordion-content ul li.column::before {
  display: none;
}

.fellowships ul.accordion .accordion-content ul li a {
  text-decoration: none;
  color: #1d7ac9;
}


.people {
  margin-left: -25px;
  margin-top: -10px;
}

.network {
  margin: 0 auto;
}

.people .section-intro {
  margin-top: 20px;
}


.card .img-thumbnail {
    background-color: $grey;
    margin: 0 0 0px 0;
    width: 100%;
    height: auto;
    float: none;

    @include breakpoint(medium) {
        float: left;
        // width: auto;
        min-width: 280px;
        min-height: 280px;
    }
}

.people.cards.compact {
  .cards {
    display: block;
  }
  .card {
    width: 100%;
    font-size: 15px;
    margin-left: 0;
    position: relative;
  }
  .card h2 {
    font-size: 16px;
  }
  .card-divider,
  .card-section {
    padding: 3px;
    padding-left: 60px;
  }
  .img-thumbnail {
    background-color: white;
    min-width: auto;
    min-height: auto;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-right: 8px;
    position: absolute;
    left: 3px;
    top: 5px;
  }
  .job-title {
    font-weight: normal;
  }
}
