#protocol-intro-sections {
  background-image: url('../img/workshop-light.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-color: $white;
  margin-bottom: -($large-gutter);
  box-shadow: 
      inset 0px 10px 22px -13px rgba(0,0,0,0.5);
}


/* ==========================================================================
   PROTOCOL LAYOUT PAGES
   ========================================================================== */
.protocol-layout {
  background-image: linear-gradient(90deg, $callout-bg-highlight, $callout-bg-shadow);
  box-shadow: inset 10px 0px 8px -8px rgba(0,0,0,0.2);

  .page-header {
    background: none;
    box-shadow: none;
  }

  .main-panel {
    background: $white;
    box-shadow:
      0px 5px 12px 5px rgba(0,0,0,0.2),
      inset 10px 0px 8px -8px rgba(0,0,0,0.2);
  }
}


/* ==========================================================================
   OFF CANVAS MENU
   ========================================================================== */
.off-canvas-wrapper {
  background-color: $pale-grey;
  background-image: linear-gradient(90deg, $light-grey, $pale-grey $offcanvas-size, $pale-grey);
}
.off-canvas-content {
  box-shadow: none;
  overflow: hidden;
}
.off-canvas {
  padding-top: rem-calc(100);
  background: none;

  .menu {
    li {
      a {
        box-shadow: none;
        border-bottom: 1px solid $button-shadow;
        border-top: 1px solid $button-highlight;
      }

      &:first-child {
        a {
          border-top: none;
        }
      }
      &:last-child {
        a {
          border-bottom: none;
        }
      }
    }
  }
}