#protocol-intro-sections {
  background-image: url('../img/workshop-light.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-color: $white;
  margin-bottom: -($large-gutter);
  box-shadow: 
      inset 0px 10px 22px -13px rgba(0,0,0,0.5);
}



/* ==========================================================================
   PROTOCOL LAYOUT PAGES
   ========================================================================== */
.protocol-layout {
  background-image: linear-gradient(90deg, $callout-bg-highlight, $callout-bg-shadow);
  box-shadow: inset 10px 0px 8px -8px rgba(0,0,0,0.2);

  .page-header {
    background: none;
    box-shadow: inset 24px 24px 12px -20px rgba(0,0,0,0.1);
  }
}


/* ==========================================================================
   OFF CANVAS MENU / PROTOCOL NAV
   ========================================================================== */
.off-canvas-wrapper {
  background-color: $pale-grey;
  background-image: linear-gradient(90deg, $light-grey, $pale-grey $offcanvas-size, $pale-grey);
  .off-canvas-wrapper-inner {
    &.is-open-left {
      transform: translateX($offcanvas-size);
    }
  }
}
.off-canvas-content {
  box-shadow: none;
  overflow: hidden;
}
.off-canvas {
  background: none;
}





/* ==========================================================================
   COMPONENT NAV
   ========================================================================== */
.component-nav {
  ol {
    list-style: none;
    margin: 0;

    li {
      a {
        display: block;
        position: relative;
        box-shadow: none;
        line-height: 2;
        font-weight: 900;
        padding-left: $small-gutter;
        margin-right: -($small-gutter);
        margin-left: -($small-gutter);
        transition:
          color 0.2s,
          background 0.2s,
          box-shadow 0.2s;

        &:hover {
          background: $pale-grey;
          box-shadow:
            inset 10px 0px 8px -8px rgba(0,0,0,0.2);
        }
        .sidebar & {
          &:hover, &.highlight {
            background-color: $light-grey;
            &.active {
              color: $red;
            }
          }
        }
      }

      &.active {
        > a {
          background: lighten($light-teal, 15%);
          color: $black;
          box-shadow:
            inset 10px 0px 8px -8px rgba(0,0,0,0.2);
          &:hover {
            background-color: $pale-grey;
            color: $red;
          }
        }
      }

      > ol {
        > li {
          > a {
            padding-left: $small-gutter + $medium-gutter;
          }
          > ol {
            > li {
              > a {
                padding-left: $small-gutter + ( $medium-gutter * 2 );
              }
              > ol {
                > li {
                  > a {
                    padding-left: $small-gutter + ( $medium-gutter * 3 );
                  }
                  > ol {
                    > li {
                      > a {
                        padding-left: $small-gutter + ( $medium-gutter * 4 );
                      }
                      > ol {
                        > li {
                          > a {
                            padding-left: $small-gutter + ( $medium-gutter * 5 );
                          }
                          > ol {
                            > li {
                              > a {
                                padding-left: $small-gutter + ( $medium-gutter * 6 );
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


/* ==========================================================================
   COMPONENT INDEX PAGE
   ========================================================================== */

.component-index {
  margin: 0 auto;
}