.sidebar {
  margin-left: -60px;
}
.sidebar-nav {
  @include breakpoint(large up) {
    padding: 0 $small-gutter 0 $small-gutter*3.3;
  }

  h3 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0;
    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 150%;
      margin: 10px 0 0px -50%;
      background-color: $light-grey;
    }
  }

  // All links in the menu
  li {
    list-style: none;
    &:before {
      display: none;
    }
    a {
      box-shadow: none;
      color: $blue;
      font-weight: 600;
      padding: 0.7rem 0!important;
      position: relative;
      text-decoration: none;
      transition: background 0.2s, color 0.2s;
      &:hover {
        color: $red;
      }
      &:before {
        content: "\f105";
        font-family: FontAwesome;
        margin: 0 10px 0 -15px;
      }
      &.active {
        color: $black;
        font-weight: 800;
      }
    }
  }

  > .menu {
    > li {
      text-transform: uppercase;
      font-size: 0.9rem;
        &::after {
          content: "";
          display: block;
          height: 2px;
          width: 150%;
          margin: 0px 0 0px -50%;
          background-color: $pale-grey;
        }

      // Just top level links
      > a {
      }
    }
  }
}
#table-of-contents {
  ul {
    margin: 0;
    li {
      > a {
        padding-left: 0;
      }

      // Submenu level two
      ul {
        margin: -10px 0 0 0;
        &::after {
          content: "";
          display: block;
          height: 2px;
          width: 150%;
          margin: 5px 0 0px -50%;
          background-color: $pale-grey;
        }
        > li {
          > a {
            color: $black;
            font-size: rem-calc(12);
            &::before {
              content: "-";
            }
          }
        }
      }
    }
  }
}
