/* SIDEBAR NAV
   ========================================================================== */
/* Foundation overrides */
.position-left.reveal-for-large ~ .off-canvas-content {
  margin-left: 23rem;
}

.off-canvas.position-left {
  width: 22rem;
  overflow: hidden;
}

.sidebar-nav {
  @include breakpoint(large up) {
    padding: 0 $small-gutter 0 $small-gutter*3.3;
  }

  h3 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0;
    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 150%;
      margin: 10px 0 0px -50%;
      background-color: $light-grey;
    }
  }

  // All links in the menu
  li {
    list-style: none;
    &:before {
      display: none;
    }
    a {
      box-shadow: none;
      color: $blue;
      font-weight: 600;
      padding: 0.7rem 0!important;
      position: relative;
      text-decoration: none;
      transition: background 0.2s, color 0.2s;
      &:hover {
        color: $red;
      }
      &:before {
        content: ">";
        margin: 0 5px 0 -15px;
      }
    }
    &.is-active {
      > a {
        color: $black;
        font-weight: 800;
      }
    }
  }

  > .menu {
    > li {
      text-transform: uppercase;
      font-size: 0.9rem;
        &::after {
          content: "";
          display: block;
          height: 2px;
          width: 150%;
          margin: 0px 0 0px -50%;
          background-color: $pale-grey;
        }

      // Just top level links
      > a {
      }
    }
  }
}
#table-of-contents {
  ul {
    margin: 0;
    li {
      > a {
        padding-left: 0;
      }

      // Submenu level two
      ul {
        margin: -10px 0 0 0;
        &::after {
          content: "";
          display: block;
          height: 2px;
          width: 150%;
          margin: 5px 0 0px -50%;
          background-color: $pale-grey;
        }
        > li {
          > a {
            color: $black;
            font-size: rem-calc(12);
            &::before {
              content: "-";
            }
          }
        }
      }
    }
  }
}

/* Protocol Menu Toggle Button
   ========================================================================== */
/* #protocol-menu-toggle {
  float: left;
  font-size: rem-calc(14);
  position: relative;
  left: -($small-gutter/2);
  border-radius: 0 rem-calc(3) rem-calc(3) 0;
  box-shadow: inset 12px 0px 5px -11px rgba(0,0,0,0.51);
  margin-top: rem-calc(6);
  @include breakpoint(medium up){
    left: -($medium-gutter/2);
  }
} */
