/* SIDEBAR NAV
   ========================================================================== */
.sidebar-nav {
  @include breakpoint(large up) {
    padding-top: $medium-gutter*2;
  }

  // All links in the menu
  li {
    a {
      box-shadow: none;
      position: relative;
      color: $dark-teal;
      transition: 
        background 0.2s,
        color 0.2s
      ;
      &:hover {
        background: transparentize($white, 0.5);
        color: $red;
      }
      
      // caret icon
      i {
        position: absolute;
        right: rem-calc(5);
        top: rem-calc(11);
        transition: transform 0.5s;
      }
    }
    &.is-active {
      > a {
        background: transparentize($white, 0.5);
        i {
          transform: rotate(180deg);
        }
      }
    }
  }

  > .menu {

    // Top level items
    > li {
      border-bottom: 1px solid $button-shadow;
      border-top: 1px solid $button-highlight;
      &:first-child {
        border-top: none;
      }
      &:last-child {
        border-bottom: none;
      }
      
      // Just top level links
      > a {
        
      }

      // Submenu level one
      > ul {
        margin: 0;
        background: transparentize($white, 0.5);
        > li {
          > a {
            padding-left: $medium-gutter;
            font-size: rem-calc(14);
            font-weight: 900;
          }

          // Submenu level two
          > ul {
            margin: 0;
            background: transparentize($white, 0.5);
            > li {
              > a {
                padding-left: $medium-gutter + rem-calc(5);
                font-size: rem-calc(12);
              }
            }
          }
        }
      }
    }
  }
}

/* Protocol Menu Toggle Button
   ========================================================================== */
#protocol-menu-toggle {
  float: left;
  font-size: rem-calc(14);
  position: relative;
  left: -($small-gutter/2);
  border-radius: 0 rem-calc(3) rem-calc(3) 0;
  box-shadow: inset 12px 0px 5px -11px rgba(0,0,0,0.51);
  margin-top: rem-calc(6);
  @include breakpoint(medium up){
    left: -($medium-gutter/2);
  }
}