/* ==========================================================================
   PROJECT TIER SETTINGS / VARIABLES
   Custom settings and Foundation overrides
   ========================================================================== */


/* ==========================================================================
   SIZES
   ========================================================================== */

   $topbar-height: rem-calc(60);
   $expanded-topbar-height: rem-calc(100);

   $small-gutter: rem-calc(20);
   $medium-gutter: rem-calc(30);
   $large-gutter: rem-calc(40);

   $grid-column-gutter: null;
   $grid-column-responsive-gutter: (
     small: $small-gutter,
     medium: $medium-gutter,
     large: $large-gutter
   );

   $offcanvas-size: rem-calc(200);
   $offcanvas-fixed-reveal: false;

/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */

   $body-font-family: "Lato", Arial, sans-serif;
   $header-font-family: 'Playfair Display', serif;
   $header-font-weight: 900;

   $font-family-monospace: 'Roboto Mono', Consolas, monospace;




/* ==========================================================================
   COLORS
   ========================================================================== */

   $black:              #272727;
   $off-black:          #222222;
   $transparent-black:  transparentize( $black, 0.7 );
   $dark-transparent-black:  transparentize( $black, 0.3 );

   $grey:         #454F58;
   $dark-grey:    #2F3A44;
   $light-grey:   #E7DEDE;
   $pale-grey:    #F9F1F1;
   $off-white:    #f2f2f2;

   $red:          #A32428;
   $dark-red:     #721E23;

   $teal:         #00D0D1;
   $light-teal:   #8DF4F4;
   $medium-teal:  #00B0B3;
   $dark-teal:    #007072;

   $blue:         #1d7ac9;

   $offcanvas-exit-background: transparent;

/* Button Colors
   ========================================================================== */
   $button-highlight:   $pale-grey;
   $button-shadow:      $light-grey;