/* ==========================================================================
   PROJECT TIER SETTINGS / VARIABLES
   Custom settings and Foundation overrides
   ========================================================================== */


/* COLORS
   ========================================================================== */

   $black:        #272727;
   $off-black:    #4A4A4A;
   
   $grey:         #978C8C;
   $dark-grey:    #716767;
   $light-grey:   #E7DEDE;
   $pale-grey:    #F9F1F1;

   $red:          #A32428;
   $dark-red:     #930015;

   $teal:         #00D0D1;
   $light-teal:   #8DF4F4;
   $medium-teal:  #00B0B3;
   $dark-teal:    #007072;
   