/* ==========================================================================
   PROJECT TIER SETTINGS / VARIABLES
   Custom settings and Foundation overrides
   ========================================================================== */



/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */
 
   $body-font-family: "Lato", Arial, sans-serif;
   $header-font-family: $body-font-family;
   $header-font-weight: 900;
 
   $font-family-monospace: 'Roboto Mono', Consolas, monospace;
 



/* ==========================================================================
   COLORS
   ========================================================================== */

   $black:        #272727;
   $off-black:    #4A4A4A;
   
   $grey:         #978C8C;
   $dark-grey:    #716767;
   $light-grey:   #E7DEDE;
   $pale-grey:    #F9F1F1;

   $red:          #A32428;
   $dark-red:     #83121B;

   $teal:         #00D0D1;
   $light-teal:   #8DF4F4;
   $medium-teal:  #00B0B3;
   $dark-teal:    #007072;

/* Button Colors
   ========================================================================== */
   $button-highlight:   $pale-grey;
   $button-shadow:      $light-grey;

   $special-button-highlight: $teal;
   $special-button-shadow:    $medium-teal;

/* Callout Colors
   ========================================================================== */
   $callout-bg-highlight:  $light-teal;
   $callout-bg-shadow:     $teal;

   $special-callout-bg-highlight:   $red;
   $special-callout-bg-shadow:      $dark-red;

   