.tip.callout {
  background-color: lighten($light-teal, 15%);
  background-image: none;
  padding: .5em .75em;
  border-radius: rem-calc(3);
  transition: background-color 0.2s;
  margin-bottom: $small-gutter * 1.25;
  clear: both;

  .tip-content { 
    //display: none;
    box-sizing: border-box;
    overflow: hidden;
    max-height: 0;
    transition: 
      max-height 0.5s,
      margin 0.5s;
    .rich-text {
      padding-top: 0.5em;
    }
  }

  h6 {
    margin: 0;
    a {
      display: block;
      padding: .5em 3.5em .5em .75em;
      box-shadow: none;
      margin: -.5em -.75em;
      position: relative;
      &::after {
        content: 'TIP';
        font-size: rem-calc(12);
        position: absolute;
        right: 1.75em;
        top: 0.7em;
        line-height: 2;
      }
      &::before {
        content: "\f0eb";
        font-family: 'FontAwesome';
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        font-weight: 100;
      }

      &::before, &::after {
        opacity: 0.65;
        transition: opacity 0.2s;
      }
    }
  }

  p:last-child { margin-bottom: 0; }

  &:hover {
    background-color: lighten($light-teal, 10%);
    h6 {
      a {
        &::before, &::after {
          opacity: 1;
        }
      }
    }
  }

  &.expanded {
    .tip-content {
      //display: block;
      
      max-height: 100vh;
    }
  }

}
