/* ==========================================================================
   WAGTAIL USER BAR
   ========================================================================== */
#wagtail-userbar {
  display: none;
}

/* ==========================================================================
   SMALL-SCREEN TITLE BAR / MENU ICON
   ========================================================================== */
.title-bar {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  background-color: $button-highlight;
  background-image: linear-gradient($button-highlight, $button-shadow);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: right;
  height: $topbar-height;

  a {
    box-shadow: none;

    .title-bar-title {
      color: $dark-grey;
    }
    .menu-icon {
      @include hamburger($dark-grey, $red, 10px, 10px, 2px, 3);
    }
    &:hover .title-bar-title {
      color: $red;
    }
  }
}

/* ==========================================================================
   TOP BAR / MAIN MENU
   ========================================================================== */
.top-bar {
  position: fixed;
  z-index: 3;
  top: $topbar-height;
  left: 0;
  right: 0;
  background-color: $button-highlight;
  background-image: linear-gradient($button-highlight, $button-shadow);
  box-shadow: inset 0px 10px 8px -10px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: $medium-gutter/8;
  transition: height 0.2s;

  @include breakpoint(medium up) {
    top: 0;
    height: $expanded-topbar-height;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    body.scrolled & {
      height: $topbar-height;
    }
  }

  /*  Menu
     ========================================================================== */
  .menu {
    background: none;

    > li {
      padding: $small-gutter/2 0 0;
      transition: padding 0.2s;
      @include breakpoint(735){
        padding: $small-gutter/2 $medium-gutter/8 0;
      }

      body.scrolled & {
        padding: 0;

        @include breakpoint(735){
          padding: 0 $medium-gutter/8;
        }
      }

      a {
        font-size: rem-calc(11);
        @include breakpoint(700){
          font-size: rem-calc(12);
        }
        @include breakpoint(760){
          font-size: rem-calc(13);
        }
        @include breakpoint(820){
          font-size: rem-calc(14);
        }
        @include breakpoint(880){
          font-size: rem-calc(15);
        }
        @include embossed-text($button-highlight);
        border-radius: rem-calc(3);
        box-shadow: none;
        font-weight: 900;
        padding: $medium-gutter/3 $medium-gutter/4;
        transition: 
          background 0.2s,
          box-shadow 0.2s,
          color 0.2s;
        color: $dark-teal;
        //text-transform: uppercase;

        &:hover {
          background-color: $button-shadow;
          color: $red;
          box-shadow: inset 0 rem-calc(2) rem-calc(4) 0 rgba(0, 0, 0, 0.05);
        }
        &:active {
          box-shadow: inset 0 rem-calc(4) rem-calc(8) 0 rgba(0, 0, 0, 0.2);
        }
      }

      /* Customize arrows
         ========================================================================== */
      &.is-dropdown-submenu-parent.is-down-arrow, &.is-dropdown-submenu-parent.is-right-arrow {
        > a {

          &::after {
            @include embossed-text($button-highlight);
            margin: rem-calc(3) 0 0 rem-calc(5);
            border: none;
            content: '▾';
            display: inline;
            position: static;
            line-height: 0.5;
            width: auto;
            height: auto;
          }
          &.special::after {
            @include embossed-text($special-button-highlight);
          }
        }
      }
      &.is-drilldown-submenu-parent {
        > a {
          &::after {
            @include embossed-text($button-highlight);
            border: none;
            content: '▸';
            display: inline;
            line-height: 0.5;
            width: auto;
            height: auto;
          }
          &.special::after {
            @include embossed-text($special-button-highlight);
          }
        }
      }
      &.js-drilldown-back::before {
        @include embossed-text($button-highlight);
        border: none;
        content: '▸';
        display: inline;
        line-height: 0.5;
        width: auto;
        height: auto;
      }
      &.js-drilldown-back::before {
        transform: rotate(180deg);
      }

      /* Current item
         ========================================================================== */
      &.current {
        > a {
          background-color: $button-shadow;
        }
      }



      /* Submenu
         ========================================================================== */
      .menu.submenu {
        background-color: $button-highlight;
        background-image: linear-gradient($button-highlight, $button-shadow);


        &.is-dropdown-submenu {
          border: none;
          left: $medium-gutter/8;
          top: 100%;
          //padding: $medium-gutter/8 0;
          
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          border-radius: 0 0 rem-calc(3) rem-calc(3);
          
          > li {
            padding-top: $medium-gutter/8;
            a {
              font-weight: 400;
              text-transform: none;
            }
            &.overview-item {
              a {
                border-bottom: 1px solid $light-grey;
                font-weight: 900;
              }
            }
          }
          
          // .dropdown-panel {
          //   width: rem-calc(300);
          //   .dropdown-pane-contents {
          //     padding: $medium-gutter/2;
          //     p {
          //       @extend %secondary-text;
          //       margin-bottom: $small-gutter/2;
          //     }
          //     .button-group {
          //       display: flex;
          //       margin: 0;
          //       .button {
          //         flex-grow: 2;
          //       }
          //     }
          //   }
          // }
        }

        &.protocols-menu {
          @include breakpoint(medium up){
            width: 90vw;
            position: fixed;
            left: 5vw;
            z-index: 3;
            top: $topbar-height*1.1;
            body.scrolled & {
              top: $topbar-height/1.2;
            }
          }
          @include breakpoint(large up){
            position: absolute;
            left: 0;
            width: 30vw;
            &.length-2 {
              width: 60vw;
            }
            &.length-3 {
              width: 80vw;
            }
          }

          .dropdown-panel {
            width: 100%;
            padding: $small-gutter/4 $small-gutter/2 $small-gutter;

            .panel-overview-link {
              display: block;
              border-bottom: 1px solid $light-grey;
              font-weight: 900;
            }

            .protocol-sections {
              display: flex;

              .protocol-section {
                flex-grow: 2;
                .panel-section-title {
                  @extend %display-heading;
                  line-height: 1;
                  display: inline-block;
                  padding: $medium-gutter/3 $medium-gutter/4 0;
                }
                ul {
                  list-style: none;
                  margin: 0 $small-gutter/2 0 0;
                  background: none;
                  li {
                    a {
                      display: inline-block;
                      padding: rem-calc(4) $medium-gutter/4;
                      font-weight: 400;
                      line-height: 1.2;
                    }
                  }
                }
              }
            }
          }
        }
      }

      /* Menu Text / Logo
         ========================================================================== */
      &.menu-text {
        display: none;

        @include breakpoint(medium up) {
          display: table-cell;
        }
        a {
          padding: 0;

          &:hover {
            background-color: none;
            box-shadow: none;
          }
          // LOGO
          &#topbar-logo {
            
            svg {
              height: rem-calc(27);
              width: auto;
              * {
                filter: drop-shadow( 1px 1px 0px #FFF );
              }
              #project {
                fill: $black;
              }
              #tier {
                fill: $red;
              }
            }
          }
        }
      }
    }
  }

  .is-drilldown {
    overflow: visible;
    .menu {
      background: $pale-grey;
      &.is-drilldown-submenu {
        height: auto;
      }
    }
  }

  /* Right Menu
     ========================================================================== */
  .top-bar-right .menu {
    > li {
      > a {
        font-size: rem-calc(14);
        font-size: rem-calc(12);
        @include breakpoint(760){
          font-size: rem-calc(13);
        }
        @include breakpoint(800){
          font-size: rem-calc(14);
        }

        padding-left: $medium-gutter/2;
        margin: 0;
        @include embossed-text($special-button-highlight);
      }
      &.js-drilldown-back {
        > a {
          @include embossed-text($button-highlight);
        }
      }
      .menu.submenu {
        &.is-dropdown-submenu {
          left: auto;
          right: $medium-gutter/8;
        }
      }
    }
  }
}