/* LOGO */
#topbar-logo {
  display: flex;
  box-shadow: none;
  float: left;
  margin-right: 20px;

  svg {
    height: rem-calc(52);
    width: auto;
    transition: 0.2s;

    // * {
    //   filter: drop-shadow( 1px 1px 0px #FFF );
    // }

    #project {
      fill: $black;
    }

    #tier {
      fill: $red;
    }

  }

}

/* DESKTOP */
.top-bar-left {
  display: none;
    @include breakpoint(large) {
      display: flex;
    }
}
body.scrolled .top-bar {
    height: 4.75rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    #topbar-logo svg {
      height: rem-calc(40);
    }
}
.top-bar {
  @include breakpoint(large up) {
    position: fixed;
    z-index: 3;
    top: $topbar-height;
    left: 0;
    right: 0;
    background-color: $white;
    padding: 20px 40px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    top: 0;
    height: $expanded-topbar-height;
    box-shadow: 0px 10px 0px 1px black;

      body.scrolled & {
        height: $topbar-height;
      }

      .menu>li.current a {
          color: #000;
          background-color: transparent;
      }

    }

  @include breakpoint(xlarge) {
    padding-left: 4.5rem;
  }
  ul {
    background: none;
    @include breakpoint(xlarge) {
      display: flex;
    }
  }
}

.menu {
  background: none;
  > li {
    box-shadow: none;
  @include breakpoint(735){
    padding: $small-gutter/2 $medium-gutter/8;
  }
  &::before {
    display: none;
  }
  &.current {
    a {
      background-color: $pale-grey;
    }
  }
  &:hover {
      a {
      background-color: $pale-grey;
    }
  }
  a {
    text-decoration: none;
    font-weight: 600;
    border-radius: 3px;
    color: $grey;
    transition:
      background 0.2s,
      color 0.2s;
    font-size: rem-calc(13);
    @include breakpoint(large){
      font-size: rem-calc(14);
    }
    @include breakpoint(xlarge){
      font-size: rem-calc(15);
    }
    &:hover {
      color: $red;
      background-color: $pale-grey;
    }
    &.current {
      background-color: $pale-grey;
      }
    }
  }

/* Dropdown menu */
.menu.submenu {
  background-color: $pale-grey;
  &.is-dropdown-submenu {
    border: none;
    left: $medium-gutter/8;
    top: 100%;
    box-shadow: 0 3px 0px rgba(0, 0, 0, 0.2);
    > li {
      padding-top: $medium-gutter/8;
      a {
        font-weight: 400;
        text-transform: none;
      }
    }
  }
}

&.menu-text {
  display: none;
  a {
    padding: 0;
    &:hover {
      background-color: none;
      box-shadow: none;
      }
    }
  }
}

.dropdown.menu {
  li {
    @include breakpoint(large up) {
      float:left;
    }
  }
}

.dropdown.menu .is-dropdown-submenu-parent {
  &.is-right-arrow > a::after {
      border: 0;
      content: "\f107";
      color: $blue;
      font-family: FontAwesome;
      float: right;
      margin-top: -1px;
    }
  }

/* MOBILE */
.title-bar {
  background-color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  .menu-icon {
    @include hamburger($dark-grey, $red, 20px, 15px, 2px, 3);
  }
}

.is-drilldown {
  height: 0;
}

.mobile-menu {
  position: relative;
  z-index: 200;
}

.mobile-menu {
  position: absolute;
  right: 20px;
  .title-bar-title {
      font-size: 1.1em;
      margin-left: 20px;
      margin-top: 15px;
      text-transform: uppercase;
  }
}

.is-drilldown {
  overflow: visible;
  .menu {
    background: $pale-grey;
    &.is-drilldown-submenu {
      height: auto;
    }
    .js-drilldown-back {
      &::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 3px 5.2px 3px 0;
        border-color: transparent #2198e8 transparent transparent;
      }
    }
  }
}

/* Stopping FOUC on mobile */
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }
  @include breakpoint(medium up) {
    .title-bar {
      display: none;
    }
  }
}

.is-drilldown {
  width: 100% !important;
}
