/* ==========================================================================
   LINKS
   ========================================================================== */
a {
  color: $dark-teal;

  box-shadow: 0 (rem-calc(4)) 0 0 transparentize($dark-teal, 0.7);
  transition: color 0.2s, box-shadow 0.2s;

  &:hover, &:active {
    color: $red;
    box-shadow: 0 (rem-calc(4)) 0 0 $red;
  }
}

/* ==========================================================================
   PARAGRAPHS
   ========================================================================== */
p {
  line-height: 1.4rem;
  margin-bottom: 1.4rem;

  @include breakpoint(medium up){
    line-height: 1.8rem;
    margin-bottom: 1.8rem;
  }

  &.secondary {
    @extend %secondary-text;
  }
}
.secondary-text, %secondary-text {
  color: $off-black;
  font-size: rem-calc(12);
  @include breakpoint(medium up){
    font-size: rem-calc(13);
  }
}

/* ==========================================================================
   HEADING STYLES
   ========================================================================== */
%large-heading, .large-heading {
  font-size: rem-calc(25);
  color: $off-black;
  @include breakpoint(medium up){
    font-size: rem-calc(29);
  }
  @include breakpoint(large up){
    font-size: rem-calc(33);
  }
}
%medium-heading, .medium-heading {
  font-size: rem-calc(21);
  color: $off-black;
}
%small-heading, .small-heading {
  font-size: rem-calc(18);
  color: $off-black;
}
%display-heading {
  font-size: rem-calc(16);
  color: $off-black;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1.2;
  @include breakpoint(medium up){
    font-size: rem-calc(20);
  }
  @include breakpoint(large up){
    font-size: rem-calc(24);
  }
}

/* ==========================================================================
   CODE / MONOSPACE TEXT
   ========================================================================== */
code, %monospace-text {
  color: inherit;
  border: none;
  font-family: $font-family-monospace;
  font-weight: 700;
  background: $pale-grey;

  strong {
    color: $red;
  }
  .sidebar & {
    background: rgba(255, 255, 255, 0.5);
  }
  .sidebar .callout & {
    color: foreground($callout-bg-highlight);
    background: foreground($callout-bg-highlight, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.25));

    strong {
      color: foreground($callout-bg-highlight, $red, $teal);
    }
  }
  .sidebar .special.callout & {
    color: foreground($special-callout-bg-highlight);
    background: foreground($special-callout-bg-highlight, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.25));

    strong {
      color: foreground($special-callout-bg-highlight, $red, $teal);
    }
  }
}

/* ==========================================================================
   EMBOSSED TEXT STYLE
   ========================================================================== */
@mixin embossed-text($background-color) {
  color: foreground($background-color, $black, $white);
  font-weight: foreground($background-color, 400, 700);
  text-shadow: 1px 1px 0px foreground($background-color, $white, transparent), -1px -1px 0px foreground($background-color, transparent, rgba(0, 0, 0, 0.2));
}



/* ==========================================================================
   LISTS
   ========================================================================== */

/* News & Events Lists
   ========================================================================== */
.item-list {
  list-style: none;
  margin: 0;
  
  li {
    .list-item {
      margin-bottom: $medium-gutter;

      h1 {
        @extend %small-heading;
        margin-bottom:0.25em;
        .subtitle {
          font-weight: 400;
        }
      }
      .article-meta {
        @extend %secondary-text;

        .article-meta-item {
          &::after {
            content: ' |';
            padding: 0 1em;
          }
          &:last-child {
            &::after {
              display: none;
            }
          }
        }
      }
    }

    &:last-child {
      .list-item {
        margin-bottom: 0;
      }
    }
  }
}


/* ==========================================================================
   BREADCRUMBS
   ========================================================================== */
.breadcrumbs {
  ul {
    list-style: none;
    margin: 0;
    li {
      color: $off-black;
      @extend .secondary-text;
      text-transform: none;
      a {
        color: $dark-teal;
        &:hover {
          color: $red;
          text-decoration: none;
        }
      }
      &:not(:last-child) {
        &::after {
        color: $off-black;
      }
      }
    }
  }
}