/* ==========================================================================
   LINKS
   ========================================================================== */
a, %hyperlink {
  color: $blue;
  text-decoration: underline;
  transition: color 0.2s, box-shadow 0.2s;
  &:hover, &:active {
    color: $red;
  }
}

/* ==========================================================================
   PARAGRAPHS
   ========================================================================== */
p, %paragraph {
  font-size: rem-calc(17);
  line-height: 1.55rem;
  margin-bottom: $small-gutter;
  color: $dark-grey;
  max-width: 45em;
}

/* ==========================================================================
   HEADING STYLES
   ========================================================================== */
h1 {
  font-size: rem-calc(64);
  line-height: rem-calc(62);
  .title_suffix {
    opacity: 0.5;
  }
}

h2/*, %large-heading, .large-heading*/ {
  color: $off-black;
  font-size: rem-calc(36);
  margin: $medium-gutter 0 $small-gutter/2;
  @include breakpoint(medium up){
    font-size: rem-calc(40);
    line-height: rem-calc(38);
  }
  @include breakpoint(large up){
    font-size: rem-calc(44);
    line-height: rem-calc(42);
  }
}
h3, /* %medium-heading, .medium-heading,*/ .heading {
  color: $off-black;
  font-size: rem-calc(24);
  line-height: rem-calc(24);
  margin: $medium-gutter 0 $small-gutter/2;
  text-transform: none;
  @include breakpoint(medium up){
    font-size: rem-calc(26);
    line-height: rem-calc(26);
  }
  @include breakpoint(large up){
    font-size: rem-calc(30);
    line-height: rem-calc(30);
  }
}
h4, /*%small-heading, .small-heading,*/ .smaller-heading {
  color: $off-black;
  font-size: rem-calc(20);
    @include breakpoint(medium up){
    font-size: rem-calc(22);
  }
  @include breakpoint(large up){
    font-size: rem-calc(24);
  }
}
h5, /*%display-heading,*/ .smallest-heading {
  color: $off-black;
  font-size: rem-calc(16);
  line-height: 1.2;
  @include breakpoint(medium up){
    font-size: rem-calc(16);
  }
  @include breakpoint(large up){
    font-size: rem-calc(20);
  }
}


/* ==========================================================================
   UL and OL 
   TODO, these are also being defined somewhere else. Foundation?
   ========================================================================== */

ul {
  margin-left: 0;
  padding-left: 0;
  li {
    padding-left: 0;
    list-style: none;
    &:last-child {
      margin-bottom: 0;
    }
    &::before{
      content: "■";
      color: $blue;
      margin-right: 1.2rem;
    }
  }
}
ol {
  margin-left: 0;
  padding-left: 0;
  li {
    counter-increment: list;
    list-style-type: none;
    padding-left: 1.9em; /* to account for the after negative margin */
    position: relative;
    &::after {
      /* TODO do with JS */
      content: counter(list) ".";
      position: absolute;
      left: -1.1em;
      width: 2em;
      text-align: right;
      color: $blue;
    }
  }
}

.body-content ul {
  li {
    padding-left: 2em;
    &::before {
      margin-left: -2rem;
    }
  }
}

.introduction {
  font-size: rem-calc(18);
  line-height: rem-cal(21);
}

.overview {
  font-size: rem-calc(22);
  font-weight: 700;
}

/* ==========================================================================
   CODE / MONOSPACE TEXT
   ========================================================================== */
code, %monospace-text {
  color: inherit;
  border: none;
  font-family: $font-family-monospace;
  font-weight: 700;
  background: $pale-grey;
}


/* ==========================================================================
   LISTS
   ========================================================================== */

/* Item Lists
   ========================================================================== */
.item-list {
  list-style: none;
  margin: 0;

  li {
    .list-item {
      margin-bottom: $medium-gutter;
      clear: both;

      .img-thumbnail {
        float: left;
        margin: 0 $small-gutter 5px 2px;
      }

      h1 {
        @extend %small-heading;
        margin-bottom:0.25em;
        .subtitle {
          font-weight: 400;
        }
      }
      .article-meta {
        @extend %secondary-text;

        .article-meta-item {
          &::after {
            content: ' |';
            padding: 0 1em;
          }
          &:last-child {
            &::after {
              display: none;
            }
          }
        }
      }
      &.block-link-parent {
        .img-thumbnail {
          transition: opacity 0.2s;
          opacity: 0.85;
        }
        &:hover {
          .img-thumbnail {
            opacity: 1;
          }
        }
      }
    }

    &:last-child {
      .list-item {
        margin-bottom: 0;
      }
    }
  }
}


/* Related Links
   ========================================================================== */
.related-links-list {
  ul {
    list-style: none;
    margin-left: 0;
  }
}


/* ==========================================================================
   BREADCRUMBS
   ========================================================================== */
.breadcrumbs {
  margin: 0 0 0 0;
  ul {
    list-style: none;
    margin: 0 0 0 0;
    li {
      color: $white;
      font-size: 0.8rem;
      text-transform: uppercase;
      &::before {
        display: none;
      }
      a {
        background-color: $blue;
        border-radius: 4px;
        color: $white;
        padding: 3px 5px;
        text-decoration: none;
        transition: background-color 0.2s;
        &:hover {
          background-color: $white;
          color: $blue;
          text-decoration: none;
        }
      }
      &:not(:last-child) {
        &::after {
        margin: 0 0.5rem;
      }
      }
      span {
        display: none;
      }
    }
  }
}

.breadcrumbs ~ h1 {
  margin-top: 20px;
}

/* ==========================================================================
   ARTICLES
   ========================================================================== */

.article-meta {
  @extend %secondary-text;
  margin-bottom: $small-gutter;
  .article-meta-item {
    &::after {
      content: ' |';
      padding: 0 1em;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
