.webcast-intro {
  display: flex;
  font-family: $header-font-family;
  margin-bottom: 60px;
  &__photo {
    margin-right: 40px;
    max-width: 200px;
  }
  .img-thumbnail.placeholder {
    width: auto;
    height: auto;
  }
  .credit {
    font-family: $body-font-family;
    color: gray;
    font-size: 10px;
  }
  &__date {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &__title {
    margin-bottom: 30px;
  }
}

img.webcast {
  align-self: center;
}

.big-cta {
  display: block;
  text-decoration: none;
  color: black;
  background-color: $light-grey;
  border-radius: 10px;
  padding: 20px;
  font-family: $header-font-family;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  transition: 0.2s;

  &.webcast-page {
    margin: 20px auto 60px;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
  }
}

.outer.webcast.card {
  overflow: visible;
  border: none;
  margin-bottom: 50px;
}

.outer.webcast.card:hover {
  border: none;
  box-shadow: none;
}

.inner.webcast.card {
  width: 100%;
  margin-top: 0;
  margin-left: 0;
}

.webcast.date {
  font-family: $header-font-family;
  font-weight: bold;
  font-size: 20px;
}
