.webcast-intro {
  display: flex;
  font-family: $header-font-family;
  margin-bottom: 60px;
  &__photo {
    margin-right: 40px;
    max-width: 200px;
  }
  &__date {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &__title {
    margin-bottom: 30px;
  }
}

.big-cta {
  display: block;
  text-decoration: none;
  color: black;
  background-color: $light-grey;
  border-radius: 10px;
  padding: 20px;
  font-family: $header-font-family;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  transition: 0.2s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
  }
}

img.webcast {
  align-self: center;
}
