#content .help {
  width: auto;
  position: static;
  display: block;
  float: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px; }
  #content .help::before {
    margin-top: 0; }
#content .help.help {
  opacity: 1; }
#content input:focus, #content textarea:focus, #content select:focus, #content .richtext:focus, #content .taggit:focus {
  background: white; }
#content .richtext {
  padding: 1em; }
  #content .richtext *:last-child {
    margin-bottom: 0; }
#content .object {
  padding-left: 20px;
  padding-right: 20px; }
  #content .object > fieldset {
    max-width: none;
    width: 100%;
    padding-top: 2em; }
  #content .object > .help + fieldset {
    padding-top: 0; }
#content .full {
  padding: 0 20px; }
  #content .full > fieldset {
    margin-left: 0;
    padding-top: 0; }
  #content .full input {
    padding-left: 7px;
    padding-right: 0;
    background: transparent;
    border: 0; }
  #content .full > .help + fieldset input {
    padding-top: 20px; }
#content .sequence-member,
#content .sequence-container,
#content .sequence-container-inner,
#content .fields,
#content .field-content {
  width: 100%; }
#content .field-content > .help.help.help.help.help {
  padding-left: 3px;
  margin-top: 7px; }
#content .stream-field.stream-field.stream-field.stream-field {
  padding: 20px; }
  #content .stream-field.stream-field.stream-field.stream-field > fieldset {
    padding-top: 14px; }
  #content .stream-field.stream-field.stream-field.stream-field .sequence-member {
    background: #f2f2f2;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin: 20px 0; }
    #content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member {
      background: white; }
      #content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member .sequence-member {
        background: #f2f2f2; }
        #content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member .sequence-member .sequence-member {
          background: white; }
          #content .stream-field.stream-field.stream-field.stream-field .sequence-member .sequence-member .sequence-member .sequence-member .sequence-member {
            background: #f2f2f2; }
  #content .stream-field.stream-field.stream-field.stream-field .sequence-member-inner {
    padding: 20px; }
  #content .stream-field.stream-field.stream-field.stream-field .sequence-controls {
    background: #e6e6e6;
    border: none;
    opacity: 1;
    visibility: visible;
    position: static;
    border-radius: 0;
    display: flex;
    justify-content: flex-end; }
    #content .stream-field.stream-field.stream-field.stream-field .sequence-controls label {
      margin-top: 7px;
      color: #666; }
    #content .stream-field.stream-field.stream-field.stream-field .sequence-controls button {
      background: transparent;
      border: none; }
      #content .stream-field.stream-field.stream-field.stream-field .sequence-controls button::before {
        color: #666; }
      #content .stream-field.stream-field.stream-field.stream-field .sequence-controls button:hover::before {
        color: #43b1b0; }
    #content .stream-field.stream-field.stream-field.stream-field .sequence-controls h3 {
      flex: 1; }
  #content .stream-field.stream-field.stream-field.stream-field .help {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0; }
  #content .stream-field.stream-field.stream-field.stream-field .stream-menu .toggle {
    opacity: 0;
    visibility: hidden; }
  #content .stream-field.stream-field.stream-field.stream-field .sequence-container:hover > .stream-menu .toggle,
  #content .stream-field.stream-field.stream-field.stream-field .sequence-member:hover > .stream-menu .toggle {
    opacity: 1;
    visibility: visible; }
  #content .stream-field.stream-field.stream-field.stream-field .sequence-container > .stream-menu .toggle {
    top: 8px; }
  #content .stream-field.stream-field.stream-field.stream-field .fields label {
    display: block;
    width: auto;
    float: none; }
  #content .stream-field.stream-field.stream-field.stream-field .fields .field {
    display: block;
    width: auto;
    float: none; }

.hallotoolbar.hallotoolbar {
  margin-top: 0;
  margin-left: 0; }
  .hallotoolbar.hallotoolbar.full {
    margin-left: 15px; }

/*# sourceMappingURL=admin.css.map */
