{% extends "standard_layout.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block main_content %}

  <div class="row">
    <div class="small-12 medium-10 medium-centered large-8 large-centered columns">

      {% if self.body %}
          <div class="body-content">
              {{ self.body|richtext }}
          </div>
      {% endif %}

    </div>
  </div>

  {% if self.people %}
    {% include "includes/person_list.html" with group=self.title list=self.people %}
  {% endif %}

  {% if self.main_groups %}
    {% for main_group in self.main_groups %}
      {% with main_group.get_children.live.specific as people %}
        {% include "includes/person_list.html" with group=main_group.title list=people %}
      {% endwith %}
    {% endfor %}
  {% endif %}

  {% if self.secondary_groups %}
    <section class="block-section alternate">
      <div class="row">
        <div class="section-intro small-12 text-center medium-4 medium-text-right large-4 columns">
          <h2 class="section-title" id="news-section-title">More People</h2>
        </div>
        <div class="small-12 medium-8 large-8 columns">
          <ul class="section-link-list">
          {% for group in self.secondary_groups %}
            <li>
              <a href="{% pageurl group %}" class="section-link" title="More about {{group}}">{{group}}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </section>
  {% endif %}

{% endblock %}
