{% extends "standard_layout.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block sidebar %}
  <nav class="sidebar-nav section-nav">
    <h3>In this section</h3>
    <ul class="vertical menu">
      {% for section in self.sections %}
        <li class="{% if section.category.is_active %}is-active{% endif %}">
          <a href="#{{section.category.title|slugify}}">{{ section.category.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endblock %}

{% block main_content %}
{% if self.body %}
  <div class="row">
          <div class="body-content">
              {{ self.body|richtext }}
          </div>
  </div>
{% endif %}  

  {% if self.sections %}
    <div class="people">
      <h1>People</h1>

      {% for section in self.sections %}
        <a name="{{section.category.title|slugify}}"></a>
        {% include "includes/person_list.html" with group=section.category.title list=section.people %}
      {% endfor %}
    </div>
  {% endif %}

  {% if self.fellowship_years %}
    <div class="fellowships">
      <h1>Fellows</h1>
      {% for year, fellows in page.fellowship_years %}
        {% include "includes/person_list.html" with group=year list=fellows %}
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}
