{% load wagtailcore_tags protocol_tags wagtailimages_tags %}

<div class="extended-info collapsed" data-toggler=".collapsed" id="info-{% dasherize value.heading %}" >
  <h3 data-toggle="info-{% dasherize value.heading %}">
    <span class="heading">{{value.heading}}</span>
    <a class="expand">
      <i class="fa fa-plus-square-o"></i> Read More
    </a>
  </h3>
  <div class="extended-info-content" >
    {{ value.details|richtext }}
    <a class="collapse" data-toggle="info-{% dasherize value.heading %}">
      <i class="fa fa-minus-square-o"></i> Hide
    </a>
  </div>
</div>
