{% extends "standard_layout.html" %}
{% load navigation_tags wagtailcore_tags %}

{% block page_title %}
  <h1>{{self.title}}</h1>
  <p class="introduction">{{page.introductory_headline}}</p>
{% endblock %}

{% block sidebar %}
  <div class="off-canvas position-left reveal-for-large" id="offCanvasLeft" data-off-canvas>
    {% table_of_contents_menu %}
    <nav class="sidebar-nav article-nav">
      <h3>In this article</h3>
      <div id="table-of-contents"></div>
    </nav>
  </div>
{% endblock %}

{% block main_content %}
  <div class="row">
    <div class="body-content">
      <div class="body-content">
        <p class="overview"><strong>{{page.overview|richtext}}</strong></p>
        {{page.body}}
      </div>
    </div>
  </div>
{% endblock %}
