{% extends "standard_layout.html" %}
{% load navigation_tags %}

{% block sidebar %}
  <div class="off-canvas position-left reveal-for-large" id="offCanvasLeft" data-off-canvas>
    {% table_of_contents_menu %}
    <nav class="sidebar-nav article-nav">
      <h3>In this article</h3>
      <div id="table-of-contents"></div>
    </nav>
  </div>
{% endblock %}

{% block main_content %}
  <div class="row">
    <div class="body-content">
      <div class="body-content">
        {{page.body}}
      </div>
    </div>
  </div>
{% endblock %}
