{% extends "standard_sidebar_layout.html" %}
{% load navigation_tags wagtailcore_tags %}

{% block page_title %}
  <h1>{{self.title}}</h1>
  {% if page.introductory_headline %}
  <p class="introduction">{{page.introductory_headline}}</p>
  {% endif %}
{% endblock %}

{% block main_content %}
  <div class="row">
    <div class="body-content">
        {% if page.overview %}
        <p class="overview"><strong>{{page.overview|richtext}}</strong></p>
        {% endif %}
        {% for block in page.body %}
          {% include_block block with index=forloop.counter %}
        {% endfor %}
    </div>
  </div>
{% endblock %}
