<nav class="protocol-nav">
  <ul class="vertical menu" data-accordion-menu>
    <li><a href="#">Components</a></li>
    <li><a href="#">Sample Project</a></li>
    <li>
      <a href="#">Process <i class="fa fa-caret-down"></i></a>
      <ul class="nested vertical menu is-active">
        <li><a href="#">Step One</a></li>
        <li>
          <a href="#">Step Two <i class="fa fa-caret-down"></i></a>
          <ul class="nested vertical menu is-active">
            <li><a href="#">Part One</a></li>
            <li><a href="#">Part Two</a></li>
            <li><a href="#">Part Three</a></li>
          </ul>
        </li>
        <li><a href="#">Step Three</a></li>
        <li><a href="#">Step Four</a></li>
      </ul>
    </li>
    <li><a href="#">Somethin else</a></li>
  </ul>
</nav>