{% load wagtailcore_tags protocol_tags wagtailimages_tags %}

<div class="stream-field">
    {% for child in content %}
        {% if child.block_type == 'h2' %}
          <h2>{{ child }}</h2>
        {% elif child.block_type == 'h3' %}
          <h3>{{ child }}</h3>
        {% elif child.block_type == 'tip' %}
          <div class="tip callout" data-toggler=".expanded" id="tip-{% dasherize child.value.title %}" >
            <h6>
              <a data-toggle="tip-{% dasherize child.value.title %}">{{child.value.title}}</a>
            </h6>
            <div class="tip-content" >
                {{ child.value.details|richtext }}
            </div>
          </div>
        {% elif child.block_type == 'paragraph' %}
            {{ child.value|richtext }}
        {% elif child.block_type == 'aligned_image' %}
            <div class="img-wrapper {{ child.value.alignment }}">
                {% if child.value.alignment == "left" or child.value.alignment == "right" %}
                    {% image child.value.image width-300 as theimage %}
                {% else %}
                    {% image child.value.image width-1280 as theimage %}
                {% endif %}

                <img src="{{ theimage.url }}" width="{{ theimage.width }}" height="{{ theimage.height }}" alt="{{ theimage.alt }}" />

                {% if child.value.caption %}
                    <div class="caption">
                        {{ child.value.caption|richtext }}
                    </div>
                {% endif %}
            </div>
        {% else %}
            {{ child }}
        {% endif %}
    {% endfor %}
</div>
