{% load wagtailcore_tags wagtailimages_tags navigation_tags %}
<div class="feature-events-list event-stream">

  {% for event in events %}

  {% if self.include_past or event.status == 'upcoming' %}

  <a href="{{ event.url }}">
    <div class="featured-event">
        <div class="featured-event__meta-data">
          <div class="featured-event__overlay"></div>
          <div class="featured-event__image">
            {% if event.thumbnail %}
              {% image event.thumbnail fill-270x220 %}
            {% else %}
              <img class="logo img-thumbnail" src="/static/img/logo.svg"/>
            {% endif %}
          </div>
          <div class="featured-event__date">
            {{ event.date_from }}{% if event.date_to %} - {{ event.date_to }}{% endif %}
            <p>{% if event.time_from %}From {{ event.time_from|time }}{% endif %}{% if event.time_to %} to {{ event.time_to|time }}{% endif %}</p>
          </div>
        </div>

      <div class="featured-event__text">
        <div class="featured-event__title {% if event.title|length > 91 %}xlong{% elif event.title|length > 75 %}long{% endif %}">
          {{ event.title }}  
        </div>
        <div class="featured-event__subtitle">
            {% if event.subtitle %}<p class="subtitle">{{ event.subtitle }}</p>
            
              {% if event.subtitle|length < 40 %}
                <p>{% if event.location %}{{ event.location }}{% endif %}</p>
              {% endif %}

            {% else %}
             <p>{% if event.location %}{{ event.location }}{% endif %}</p>
            {% endif %}
            
          </div>
      </div>
    </div>
  </a>

  {% endif %}

  {% endfor %}

</div>