{% load wagtailcore_tags wagtailimages_tags navigation_tags %}
<div class="feature-events-list">
  {% for event in events %}
  <a href="{{ event.value.url }}">
    <div class="featured-event">
        <div class="featured-event__meta-data">
          <div class="featured-event__overlay"></div>
          <div class="featured-event__image">
            {% if event.value.thumbnail %}
              {% image event.value.thumbnail max-270x180 %}
            {% else %}
              <img class="logo img-thumbnail" src="/static/img/logo.svg"/>
            {% endif %}
          </div>
          <div class="featured-event__date">
            {{ event.value.date_from }}{% if event.value.date_to %} - {{ event.value.date_to }}{% endif %}
          </div>
        </div>

      <div class="featured-event__text">
        <div class="featured-event__title">
          {{ event.value.title }}
        </div>
        <div class="featured-event__subtitle">
          {{ event.value.meta_information|richtext }}
        </div>
      </div>
    </div>
  </a>

  {% endfor %}

  <a href="/fellowships-and-workshops/">
    <div class="featured-event" id="tier-workshops">
        <div class="featured-event__meta-data">
          <div class="featured-event__overlay"></div>
          <div class="featured-event__image">
              <img class="logo img-thumbnail" src="/static/img/logo.svg"/>
          </div>
          <div class="featured-event__date">

          </div>
        </div>

      <div class="featured-event__text">
        <div class="featured-event__title">
          TIER Fellowships, Workshops, and Webcasts
        </div>
        <div class="featured-event__subtitle">
          <div class="rich-text">
          <p>TIER offers a variety of online programming throughout the year for faculty and graduate students.</p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>

<script type="text/javascript">
  var width;

  function getWindowSize(){
    var width = window.innerWidth || document.documentElement.clientWidth ||
    document.body.clientWidth;

    return showOrHideExtraEvent(width);
  }

  window.addEventListener("resize", getWindowSize);
  getWindowSize();

  function showOrHideExtraEvent(width){
    var featuredEvent = document.getElementById("tier-workshops");
    var showExtra;
    var numberOfCards = {{self|length}};
    var cardWidth = 314;
    var cardsPerRow = Math.floor(width / cardWidth);
    var rows = Math.ceil(numberOfCards / cardsPerRow);
    var cardsOnLastRow = numberOfCards - (cardsPerRow * (rows - 1));

    cardsOnLastRow < cardsPerRow ? showExtra = true : showExtra = false;

    !showExtra ? featuredEvent.style.display = "none" : featuredEvent.style.display = "block";
  }

</script>
