{% load wagtailcore_tags wagtailimages_tags navigation_tags %}
<div class="feature-events-list">
  {% for event in self %}
  <a href="{{ event.value.url }}">
    <div class="featured-event">
        <div class="featured-event__meta-data">
          <div class="featured-event__overlay"></div>
          <div class="featured-event__image">
            {% if event.value.thumbnail %}
              {% image event.value.thumbnail max-270x180 %}
            {% else %}
              <img class="logo img-thumbnail" src="/static/img/logo.svg"/>
            {% endif %}
          </div>
          <div class="featured-event__date">
            {{ event.value.date_from }}{% if event.value.date_to %} - {{ event.value.date_to }}{% endif %}
          </div>
        </div>

      <div class="featured-event__text">
        <div class="featured-event__title">
          {{ event.value.title }}
        </div>
        <div class="featured-event__subtitle">
          {{ event.value.meta_information|richtext }}
        </div>
      </div>
    </div>
  </a>

  {% endfor %}

  <a href="/fellowships-and-workshops/">
    <div class="featured-event tier-workshops
    {% if self|length == 3 %}three
    {% elif self|length == 2 %}two
    {% elif self|length > 2 %}too-many
    {% endif %}">
        <div class="featured-event__meta-data">
          <div class="featured-event__overlay"></div>
          <div class="featured-event__image">
              <img class="logo img-thumbnail" src="/static/img/logo.svg"/>
          </div>
          <div class="featured-event__date">

          </div>
        </div>

      <div class="featured-event__text">
        <div class="featured-event__title">
          TIER Fellowships, Workshops, and Webcasts
        </div>
        <div class="featured-event__subtitle">
          <div class="rich-text">
          <p>TIER offers a variety of online programming thorughout the year for faculty and graduate students.</p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
