{% load wagtailcore_tags wagtailimages_tags navigation_tags %}
<div class="feature-events-list">
  {% for event in self %}
  <a href="{{ event.value.url }}">

    <div class="featured-event">
        <div class="featured-event__meta-data">
          <div class="featured-event__overlay"></div>
          <div class="featured-event__image">
            {% if event.value.thumbnail %}
              {% image event.value.thumbnail max-300x200 %}
            {% else %}
              <img src="https://via.placeholder.com/300x200">
            {% endif %}
          </div>
          <div class="featured-event__date">
            {{ event.value.date_from }}{% if event.value.date_to %} - {{ event.value.date_to }}{% endif %}
          </div>
        </div>

      <div class="featured-event__text">
        <div class="featured-event__title">
          {{ event.value.title }}
        </div>
        <div class="featured-event__subtitle">
          {{ event.value.meta_information|richtext }}
        </div>
      </div>
    </div>
  </a>

  {% endfor %}
</div>
