{% load wagtailimages_tags wagtailembeds_tags wagtailcore_tags static %}

{% if self.visible %}
<div class="split_banner_section {% if self.orientation == 'right' %}right{% endif %}">

  <div class="split_banner_section__banner {% if self.orientation == 'right' %}right{% endif %}">
    <div class="split_banner_section__text {% if self.orientation == 'right' %}right{% endif %}">
      {% if self.headline %}
        <h3 id="{{self.headline|slugify}}" data-magellan-target="{{self|slugify}}">
          {{self.headline}}
        </h3>
      {% endif %}

      {% if self.paragraph %}
        <div>
          {{self.paragraph}}
        </div>
      {% endif %}

      {% if self.paragraph %}
        <button class="split_banner_section__button">
          {{self.CTA.text}}
        </button>
      {% endif %}
    </div>
  </div>

  <div class="split_banner_section__image-container {% if self.orientation == 'right' %}right{% endif %}">
  {% if self.image_or_video %}

    <div class="orbit" role="region" aria-label="" data-orbit>
      <div class="orbit-wrapper">
        <div class="orbit-controls">
          <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
          <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
        </div>
        <ul class="orbit-container">

          {% for item in self.image_or_video %}
            <li class="is-active orbit-slide">
              <figure class="orbit-figure">
                {% image item.value fill-600x350 %}
              </figure>
            </li>
          {% endfor %}

        </ul>
      </div>

      <nav class="orbit-bullets">
        <button class="is-active" data-slide="0">
          <span class="show-for-sr">First slide details.</span>
          <span class="show-for-sr" data-slide-active-label>Current Slide</span>
        </button>
        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
        <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
        <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
      </nav>

    </div>



    <!-- {% if self.image_or_video.items.video != '' %}
      {% embed self.image_or_video.items.video %}
    {% elif self.image_or_video.items.image != None %}
      {% image self.image_or_video.items.image fill-600x350 %}
    {% else %}
      <img class="placeholder" src="{% static "img/split-banner-placeholder.jpg" %}"/>
    {% endif %} -->
  {% else %}
    <img class="placeholder" src="{% static "img/split-banner-placeholder.jpg" %}"/>
  {% endif %}

  </div>
</div>
{% endif %}
