{% load navigation_tags wagtailcore_tags protocol_tags %}

<ul class="protocols-menu menu vertical length-{{menuitems_children|length}}">
  <li class="dropdown-panel">
    <div class="dropdown-pane-contents">
      <a class="panel-overview-link" href="{% pageurl parent %}">An overview of {{parent}}</a>
      <div class="protocol-sections">
      {% for child in menuitems_children %}
        <div class="protocol-section">
          <span class="panel-section-title is-active">
            {{ child }}
          </span>
          <ul>
            <li><a href="{% pageurl child %}">Introduction to {{ child }}</a></li>
            {% for child in child.children %}
            <li><a href="{% pageurl child %}">{{ child }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
      </div>
    </div>
  </li>
</ul>
