{% load navigation_tags wagtailcore_tags %}
{% get_site_root as site_root %}

<div class="title-bar" data-responsive-toggle="work" data-hide-for="large">
  <a href="/" id="topbar-logo">{% include "includes/svg_logo.html" %}</a>
  <a href="#" data-toggle class="mobile-menu">
    <div class="title-bar-title"><i class="menu-icon"></i> Menu</div>
  </a>
</div>


<div class="top-bar" id="work" style="display:flex">
  <div class="top-bar-left">
    <a href="/" id="topbar-logo">{% include "includes/svg_logo.html" %}</a>
  </div>
<ul class="vertical menu" data-responsive-menu="drilldown large-dropdown">
{% for menuitem in menuitems %}
        <li class="{% if menuitem.show_dropdown %}has-submenu{% endif %} {% if menuitem.active %}current{% endif %}">
            {% if menuitem.show_dropdown %}
                <a data-toggle="dropdown" class="dropdown-toggle" href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
                  {% top_menu_children parent=menuitem %}
            {% else %}
                <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
            {% endif %}
        </li>
      {% endfor %}
</ul>
</div>
